@import "abstracts/variables";
@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/placeholders";
@import "abstracts/utilities";
@import "abstracts/split-button";
@import "abstracts/svgicon";

@import "themes/light";
@import "themes/dark";

// Base
// --------------------------------------------------

@import "base/base";

#aboutcontent
{
	padding: 10px 16px;
	font-size: 13px;
	margin: -14px -14px 10px -14px;
}

#logo {
	margin: 7px 0 0 7px;
	-moz-context-properties: fill, fill-opacity;
	fill: var(--fill-primary);
}

#version
{
	color: var(--fill-secondary);
	margin-bottom: 5px;
	-moz-user-select: text;
	-moz-user-focus: normal;
	cursor: text;
}

#changelog {
	border: 0;
}

.subhead
{
	margin-top: 5px;
	font-weight: 600;
}

.subcontent
{
	margin-left: 10px;
	margin-bottom: 5px;
}

#about-text {
	margin-top: .7em;
	margin-bottom: .7em;
}

#about-text > p {
	margin-left: .5em;
	line-height: 1.4em;
}

span.text-link {
	cursor: pointer;
	color: -moz-nativehyperlinktext;
}

span.text-link:hover {
	text-decoration: underline;
}

/* Remove default underline from XUL links */
label.zotero-text-link {
	text-decoration: none;
}

label.zotero-text-link:hover {
	text-decoration: underline;
}