@import "abstracts/variables";
@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/placeholders";
@import "abstracts/utilities";
@import "abstracts/split-button";
@import "abstracts/svgicon";

@import "components/diffTable";
@import "components/spinner";

$-width: 700px;
$-height: 450px;

@include macOS-normalize-controls;

:root {
	min-width: $-width;
	min-height: $-height;
	width: $-width;
	height: $-height;
	max-width: $-width;
	max-height: $-height;
	
	padding: 16px;
}

label {
	margin: 0;
}

#update-metadata-container {
	gap: 8px;
	padding-bottom: 16px;
}

#heuristic-group {
	flex-direction: row;
}

#diff-table-container {
	display: flex;
	flex-direction: column;
	flex: 1;
	
	> .diff-table {
		flex: 1;
	}
}

#button-bar {
	gap: 8px;
}

#collapse-all-button {
	margin-inline-end: auto;
}
