{
  "compact": false,
  "retainLines": true,
  "presets": [],
  "ignore": [
    "chrome/content/zotero/include.js",
    "chrome/content/zotero/xpcom/citeproc.js",
    "resource/react.js",
    "resource/react-dom.js",
    "test/resource/*.js"
  ],
  "plugins": [
    "syntax-jsx",
    "transform-react-jsx",
    "transform-react-display-name",
    "transform-class-properties",
    [
      "transform-es2015-modules-commonjs",
      {
        "strictMode": false
      }
    ]
  ]
}
