{
  "compact": false,
  "retainLines": true,
  "presets": [
    "@babel/preset-react"
  ],
  "ignore": [
    "chrome/content/zotero/include.js",
    "chrome/content/zotero/xpcom/citeproc.js",
    "resource/react.js",
    "resource/react-dom.js",
    "resource/react-virtualized.js",
    "test/resource/*.js"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    [
      "transform-es2015-modules-commonjs",
      {
        "strictMode": false
      }
    ]
  ]
}
