{
	"env": {
		"browser": true,
		"es6": true,
		"node": true
	},
	"globals": {
		"Zotero": false,
		"ZOTERO_CONFIG": false,
		"AddonManager": false,
		"Cc": false,
		"Ci": false,
		"ChromeUtils": false,
		"Components": false,
		"ConcurrentCaller": false,
		"ctypes": false,
		"OS": false,
		"MozXULElement": false,
		"PluralForm": false,
		"Services": false,
		"XPCOMUtils": false,
		"XRegExp": false,
		"XULElement": false,
		"Cu": false,
		"ChromeWorker": false,
		"Localization": false,
		"L10nFileSource": false,
		"L10nRegistry": false,
		"ZoteroPane_Local": false,
		"ZoteroPane": false,
		"IOUtils": false
	},
	"extends": [
		"@zotero",
		"plugin:react/recommended"
	],
	"parser": "@babel/eslint-parser",
	"parserOptions": {
		"ecmaVersion": 2018,
		"ecmaFeatures": {
			"jsx": true
		},
		"sourceType": "module"
	},
	"plugins": [
		"react",
		"@babel"
	],
	"settings": {
		"react": {
			"version": "17.0"
		}
	},
	"rules": {}
}
