[submodule "translators"]
	path = translators
	url = git@github.com:fbennett/translators.git
[submodule "styles"]
	path = styles
	url = git://github.com/zotero/bundled-styles.git
[submodule "chrome/content/zotero/locale/csl"]
	path = chrome/content/zotero/locale/csl
	url = git://github.com/fbennett/locales.git
