sudo: false
language: node_js
node_js:
    - "8"
cache:
    directories:
        - "build"
        - "node_modules"
env:
    global:
        secure: "NxvkbZ7/Op7BTGQRR3C4q8lLoO29f8WtyNN27NSH7AO3H0vBr1Vp5xO8gn+H2qHEug5HvM+YrZ/xAkNXaZVbOInmBmKVMxqVvdpKp9JM1Amf+gzsXWQphfySvs6iqzyP6cwU/jspdvX/WSakgU5v7PWXxtUIaKxdANt6Rw7W+Pc="
    matrix:
        - FX_VERSION="60.8.0esr"
matrix:
    fast_finish: true
    #allow_failures:
    #    - env: FX_CHANNEL="beta"
notifications:
    email: false
addons:
  apt:
    packages:
    - dbus-x11
services:
    - xvfb
install:
    - wget -O tarball "https://zotero-download.s3.us-east-1.amazonaws.com/dev/firefox-60.9.0esr-x86_64-modified.tar.gz";
    - tar xf tarball
before_script:
    - npm i
    - npm run build
    - if [[ $TRAVIS_REPO_SLUG = "zotero/zotero" &&
            ($TRAVIS_BRANCH = "master" || $TRAVIS_BRANCH = *-hotfix || $TRAVIS_BRANCH = "fx60") &&
            $TRAVIS_PULL_REQUEST = "false" ]]; then
        mkdir build-zip;
        cd build;
        zip -r ../build-zip/$TRAVIS_COMMIT.zip *;
        cd ..;
        gem install dpl;
        dpl --provider=s3
            --access-key-id=AKIAJFDVJ54MCAEXPQ5Q
            --bucket=zotero-download
            --local-dir=build-zip
            --upload-dir=ci/client
            --acl=public-read
            --skip_cleanup=true;
      fi
    - unset AWS_SECRET_ACCESS_KEY
    # Fix warnings in output
    - dbus-launch
script:
    - test/runtests.sh -x firefox-x86_64/firefox -f
