<?xml version="1.0"?>
<RDF xmlns="http://www.w3.org/1999/02/22-rdf-syntax-ns#" 
     xmlns:em="http://www.mozilla.org/2004/em-rdf#">

  <Description about="urn:mozilla:install-manifest">  
    <em:id>zotero@chnm.gmu.edu</em:id>
    <em:name>Multilingual Zotero (MLZ)</em:name>
    <em:version>4.0m##REVISION##</em:version>
    <em:creator>Center for History and New Media<br/>George Mason University</em:creator>
    <em:contributor>Dan Cohen</em:contributor>
    <em:contributor>Sean Takats</em:contributor>
    <em:developer>Simon Kornblith</em:developer>
    <em:developer>David Norton</em:developer>
    <em:developer>Dan Stillman</em:developer>
    <em:developer>Frank Bennett (MLZ)</em:developer>
    <em:homepageURL>http://www.citationstylist.org</em:homepageURL>
    <em:optionsURL>chrome://zotero/content/preferences/preferences.xul</em:optionsURL>
    <em:aboutURL>chrome://zotero/content/about.xul</em:aboutURL>
    <em:updateURL>http://gsl-nagoya-u.net/http/pub/zotero-multi-3.rdf</em:updateURL>
    <em:iconURL>chrome://zotero/skin/mlz_z_32px.png</em:iconURL>
    <em:type>2</em:type>
    <em:unpack>true</em:unpack>
    <em:updateKey>MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDJqWvOZqiHGp8hLJI92KIp6t1pKP2Q2t+5glUh7JSl+2pdt8y9ANHT1Bx3YrKDi1xwXJ7FNi4mss5XFqEmuJf2TDn02+V6D0hFsNEsSlkCcsznwnCYzeU8GKAhlgjeXz7YPQswLLSk61af/hIhdYUEyYQbxmIAOHDHgMeRcuYJ+QIDAQAB</em:updateKey>

    
    <em:targetApplication>
      <Description>
        <em:id>{ec8030f7-c20a-464f-9b0e-13a3a9e97384}</em:id>
        <em:minVersion>3.6</em:minVersion>
        <em:maxVersion>23.*</em:maxVersion>
      </Description>
    </em:targetApplication>
    
</Description>
</RDF>
