/* Display the custom header */
.update-header {
	display: -moz-box !important;
}

.update-header h2 {
	font-size: 13px;
}

#downloadProgress {
	-moz-box-flex: 1;
}

.update-name {
	-moz-box-flex: 1;
}

#errorReason {
	padding: .75em;
}
