row > hbox,
row > vbox
{
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

row vbox[fieldname]
{
	margin-left: 1px;
}

.creator-type-label image {
	margin-bottom: 0;
}

textbox
{
	padding: 2px 2px 2px 2px;
	margin: -1px 0 -1px 1px;
}

#item-type-menu
{
	padding: 0 0 0 1px !important;
	margin: 0 5px 0 1px !important;
}