#zotero-bibliography-container {
	font-size: 1.15em !important;
}

#style-listbox
{
	height: 19em;
	width: 300pt;
}

radio:not(:first-child)
{
	margin-top: .5em;
}

.radioDescription
{
	margin: 0 0 3px 20px;
	font-size: .85em;
}