#style-listbox
{
	height: 14em;
	width: 325pt;
}

#locale-box .groupbox-body {
	padding-top: 3px;
}

#locale-box caption {
	padding-top: 0;
	padding-bottom: 0;
}

radio:not(:first-child)
{
	margin-top: .5em;
}

.radioDescription
{
	margin: 0 0 3px 20px;
	font-size: .85em;
}


#automaticJournalAbbreviations-vbox, #advanced-settings {
	padding: 0 14px;
}

#advanced-settings > * {
	margin-bottom: 10px;
}
