#tabs-deck {
    min-width: 600px;
}

#zotero-context-pane {
    display: flex;
    min-width: 360px;
}

#zotero-context-pane.stacked {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 0;
    pointer-events: none;
}

#zotero-context-pane .stacked-context-placeholder {
    min-height: 300px;
}

#zotero-context-pane.standard .stacked-context-placeholder {
    display: none;
}

#zotero-context-splitter-stacked {
    pointer-events: auto;
}

#zotero-context-pane-inner {
    width: 0;
    background: var(--material-sidepane);
    font: message-box;
    font-size: inherit;
    min-height: 100px;
    height: 0;
    pointer-events: auto;
}

#zotero-item-toolbar {
    height: 32px;
}

.zotero-context-notes-list {
    background-color: var(--material-sidepane);
}

.zotero-context-pane-editor-parent-line {
    border-bottom: 1px solid #d9d9d9;
}

.zotero-context-pane-editor-parent-line > div {
    display: flex;
    align-items: center;
    padding: 5px 5px;
}

.zotero-context-pane-editor-parent-line .parent-item-type {
    margin-inline-end: 3px;
    width: 16px;
}

.zotero-context-pane-editor-parent-line .parent-title {
    flex-grow: 1;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#zotero-context-pane[collapsed=true] .notes-list-container,
#zotero-context-pane-inner[collapsed=true] .notes-list-container,
#zotero-context-pane[collapsed=true] .zotero-view-item > tabpanel > *,
#zotero-context-pane-inner[collapsed=true] .zotero-view-item > tabpanel > * {
    overflow: unset !important;
}
