.wizard-header-label {
	font-size: 16px;
	font-weight: bold;
}

/* Start */
wizard[currentpageid="page-start"] .wizard-header-label {
	padding-top: 24px;
}

wizard[currentpageid="page-start"] .wizard-page-box {
	margin-top: -2px;
	padding-top: 0;
}

radiogroup {
	font-size: 14px;
	margin-top: 4px;
}

radio {
	padding-top: 5px;
}

/* File options */
wizard[currentpageid="page-file-options"] .wizard-header {
	display: none;
}

#file-options-header {
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 6px;
}

listbox, #result-description {
	font-size: 13px;
}

button {
	font-size: 13px;
}

#result-report-error {
	margin-top: 13px;
	margin-left: 0;
}
