.wizard-header-label {
	font-size: 16px;
	font-weight: bold;
}

/* Start */
wizard[currentpageid="page-start"] .wizard-header-label {
	padding-top: 24px;
}

wizard[currentpageid="page-start"] .wizard-page-box {
	margin-top: -2px;
	padding-top: 0;
}

radiogroup {
	font-size: 14px;
	margin-top: 4px;
}

radio {
	padding-top: 5px;
}

/* File list */
wizard[currentpageid="page-file-list"] .wizard-header {
	display: none;
}

#file-options-header {
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 6px;
}

#file-handling-options {
	margin-top: 2em;
}

#file-handling-options > label {
	font-size: 14px;
}

#file-handling-options radiogroup {
	font-size: 13px;
	margin-left: 1em;
}

#file-handling-options description {
	margin-top: .6em;
	font-size: 11px;
}

listbox, #result-description, #result-description-html {
	font-size: 13px;
}

#result-description-html {
	line-height: 1.5;
}

#result-description-html a {
	text-decoration: underline;
}

button, checkbox {
	font-size: 13px;
}

#result-report-error {
	margin-top: 13px;
	margin-left: 0;
}
