.zotero-item-pane-message-box description {
	padding: 0 2em;
}

.zotero-view-tabbox, .zotero-item-pane-content > groupbox, .zotero-item-pane-content > groupbox > .groupbox-body
{
	margin: 0 !important;
	padding: 0 !important;
}

.zotero-view-tabbox tabs tab
{
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.zotero-view-tabbox tabs tab .tab-text
{
	margin-top: .2em !important;
	margin-bottom: .25em !important;
}

.zotero-item-pane-content {
	background: -moz-Field; /* Same as background colour for treeview */
}

.zotero-view-item
{
	padding: 0;
}

.zotero-view-item.no-tabs
{
	margin-top: 0;
}

.zotero-view-item > tabpanel > *
{
	overflow: auto;
}

.zotero-view-item:not([selectedIndex="0"]) > tabpanel > * {
	padding-top: .25em;
}

.zotero-view-item > vbox
{
	overflow: auto;
	margin-left: 5px;
}

/* Context pane */
.zotero-context-pane-pinned-note {
	border-top: 1px solid #d9d9d9;
}

/*.zotero-editpane-tabs {*/
/*	background: #ececec;*/
/*}*/

/* Buttons in trash and feed views */
.zotero-item-pane-top-buttons {
	-moz-appearance: toolbar;
	-moz-box-pack: center;
	min-height: 3em;
}

.zotero-item-pane-top-buttons > button {
	-moz-box-flex: 1
}

/* Merge pane in duplicates view */
#zotero-duplicates-merge-button
{
	font-size: 13px;
}

#zotero-duplicates-merge-pane > groupbox
{
	margin: 0;
}

#zotero-duplicates-merge-item-box row
{
	min-height: 20px;
}

#zotero-feed-item-toggleRead-button {
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 150px;
}

#zotero-feed-item-addTo-button {
	max-width: 250px;
}

#zotero-feed-item-addTo-button button {
	overflow: hidden;
	text-overflow: ellipsis;
}

#zotero-feed-item-addTo-button .button-icon {
	margin-right: 5px;
	height: 16px;
}
