.zotero-item-pane-message-box description {
	padding: 0 2em;
}

.zotero-item-pane-content > groupbox, .zotero-item-pane-content > groupbox > .groupbox-body
{
	margin: 0 !important;
	padding: 0 !important;
}

.zotero-item-pane-content {
	min-height: 0;
}

.zotero-view-item-container {
	display: flex;
	flex-direction: row;
	height: 0; /* Prevent overflow, somehow */
}

.zotero-view-item-main {
	flex: 1;
	display: flex;
	flex-direction: column;
	background: var(--material-sidepane);
}

.zotero-view-item {
	position: relative;
	flex: 1;
	overflow-y: scroll;
	padding: 0 8px;
	overflow-anchor: none; /* Work around tags box causing scroll to jump - figure this out */
	scrollbar-color: var(--color-scrollbar) var(--color-scrollbar-background);
}

.zotero-view-item::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: var(--min-scroll-height);
	pointer-events: none;
}

.zotero-view-item > * {
	box-sizing: border-box;
	width: 100%;
}

.zotero-view-item > vbox
{
	margin-left: 5px;
}

/* Buttons in trash and feed views */
.zotero-item-pane-top-buttons > button {
	-moz-box-flex: 1
}

/* Merge pane in duplicates view */
#zotero-duplicates-merge-button
{
	font-size: 13px;
}

#zotero-duplicates-merge-pane > groupbox {
	margin: 8px 0 0 0;
}

#zotero-duplicates-merge-item-box-container {
	overflow-y: scroll;
}

#zotero-feed-item-toggleRead-button {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 150px;
}

#zotero-feed-item-addTo-button {
	max-width: 250px;
}
