/* merge.xul */
wizard {
	padding-left: 10px;
	padding-right: 10px;
}

wizardpage {
	min-width: 762px;
	min-height: 300px;
}

wizard .wizard-header label.wizard-header-label {
	margin-left: 0;
}

/* different order on windows */
wizard > hbox button[dlgtype=cancel] {
	margin-left: 0;
}

wizard > hbox button[dlgtype=next][disabled=false],
wizard > hbox button[dlgtype=next]:not([disabled]) {
	margin-right: 0;
}

wizard > hbox button:last-child {
	margin-right: 0;
}

wizardpage > description {
	margin-left: 10px;
}

#zotero-merge-button-name {
	margin: 0;
}

wizard > deck {
	margin: 0;
	padding: 0;
}


#resolve-all {
	font-size: 1.1em;
}

#zotero-step-count label:first-child {
	margin-left: 0;
	font-weight: bold;
}

#zotero-step-count label {
	font-size: 1.1em;
}

#zotero-step-count label:last-child {
	margin-right: 1em;
	font-weight: bold;
}



/* merge.xml */
zoteromergegroup {
	margin: 0;
	padding: 0;
	overflow-y: auto;
}

zoteromergepane #trash-box, zoteromergepane #delete-box {
	min-width: 15em;
	-moz-box-align: center;
	-moz-box-pack: center;
	font-weight: bold;
}

zoteromergepane[selected=true] groupbox caption {
	color: red;
	font-weight: bold;
}

zoteromergepane[id=leftpane]:not([selected=true]):hover groupbox caption,
zoteromergepane[id=rightpane]:not([selected=true]):hover groupbox caption {
	/* font-weight: bold; */
}

hbox:not([mergetype=note]) zoteromergepane:active[id=leftpane] groupbox caption,
hbox:not([mergetype=note]) zoteromergepane:active[id=rightpane] groupbox caption {
	color: red;
	font-weight: bold;
}

zoteromergepane {
	min-width: 28em;
}
