/* merge.xhtml */
wizard {
	padding-left: 10px;
	padding-right: 10px;
}

wizardpage {
	min-width: 762px;
	min-height: 300px;
}

wizard .wizard-header label.wizard-header-label {
	margin-left: 0;
}

/* different order on windows */
wizard > hbox button[dlgtype=cancel] {
	margin-left: 0;
}

wizard > hbox button[dlgtype=next][disabled=false],
wizard > hbox button[dlgtype=next]:not([disabled]) {
	margin-right: 0;
}

wizard > hbox button:last-child {
	margin-right: 0;
}

wizardpage > description {
	margin-left: 10px;
}

#zotero-merge-button-name {
	margin: 0;
}

wizard > deck {
	margin: 0;
	padding: 0;
}


#resolve-all {
	font-size: 1.1em;
}

#zotero-step-count label:first-child {
	margin-left: 0;
	font-weight: bold;
}

#zotero-step-count label {
	font-size: 1.1em;
}

#zotero-step-count label:last-child {
	margin-right: 1em;
	font-weight: bold;
}



/* Merge Group */
merge-group {
	display: flex;
}

merge-pane {
	flex: 1;
	display: flex;
	flex-direction: column;
	min-width: 26em;
}

merge-pane groupbox {
	flex: 1;
}

merge-pane[selected=true] h2,
merge-pane[selected=true] attachment-box #title {
	color: red;
	font-weight: bold;
	text-decoration: underline;
}

merge-group:not([mergetype="note"]) #left-pane:active h2,
merge-group:not([mergetype="note"]) #right-pane:active h2,
merge-group:not([mergetype="note"]) #left-pane:active attachment-box #title,
merge-group:not([mergetype="note"]) #right-pane:active attachment-box #title {
	color: red;
	font-weight: bold;
}

#left-pane:hover:not([selected=true]) h2,
#left-pane groupbox:focus:not([selected=true]) h2,
#right-pane:hover:not([selected=true]) h2,
#right-pane groupbox:focus:not([selected=true]) h2 {
	text-decoration: underline;
}

merge-pane .parent-row {
	margin: 7px 5px;
}

merge-pane .parent-row span {
	font-weight: bold;
}

merge-pane .delete-box {
	min-width: 15em;
	-moz-box-align: center;
	-moz-box-pack: center;
}
