/*
TODO: Replace with SVG

#zotero-items-tree treechildren::-moz-tree-image(hasAttachment, pie)
{
	margin: 1px 0 0;
	list-style-image: url(chrome://zotero/skin/pie.png);
	height: 16px;
	-moz-image-region: rect(0px, 32px, 32px, 0px);
}

#zotero-items-tree treechildren::-moz-tree-image(hasAttachment,  pie1) { -moz-image-region: rect(0px,   32px, 32px,    0px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment,  pie2) { -moz-image-region: rect(0px,   64px, 32px,   32px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment,  pie3) { -moz-image-region: rect(0px,   96px, 32px,   64px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment,  pie4) { -moz-image-region: rect(0px,  128px, 32px,   96px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment,  pie5) { -moz-image-region: rect(0px,  160px, 32px,  128px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment,  pie6) { -moz-image-region: rect(0px,  192px, 32px,  160px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment,  pie7) { -moz-image-region: rect(0px,  224px, 32px,  192px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment,  pie8) { -moz-image-region: rect(0px,  256px, 32px,  224px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment,  pie9) { -moz-image-region: rect(0px,  288px, 32px,  256px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment, pie10) { -moz-image-region: rect(0px,  320px, 32px,  288px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment, pie11) { -moz-image-region: rect(0px,  352px, 32px,  320px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment, pie12) { -moz-image-region: rect(0px,  384px, 32px,  352px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment, pie13) { -moz-image-region: rect(0px,  416px, 32px,  384px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment, pie14) { -moz-image-region: rect(0px,  448px, 32px,  416px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment, pie15) { -moz-image-region: rect(0px,  480px, 32px,  448px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment, pie16) { -moz-image-region: rect(0px,  512px, 32px,  480px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment, pie17) { -moz-image-region: rect(0px,  544px, 32px,  512px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment, pie18) { -moz-image-region: rect(0px,  576px, 32px,  544px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment, pie19) { -moz-image-region: rect(0px,  608px, 32px,  576px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment, pie20) { -moz-image-region: rect(0px,  640px, 32px,  608px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment, pie21) { -moz-image-region: rect(0px,  672px, 32px,  640px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment, pie22) { -moz-image-region: rect(0px,  704px, 32px,  672px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment, pie23) { -moz-image-region: rect(0px,  736px, 32px,  704px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment, pie24) { -moz-image-region: rect(0px,  768px, 32px,  736px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment, pie25) { -moz-image-region: rect(0px,  800px, 32px,  768px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment, pie26) { -moz-image-region: rect(0px,  832px, 32px,  800px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment, pie27) { -moz-image-region: rect(0px,  864px, 32px,  832px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment, pie28) { -moz-image-region: rect(0px,  896px, 32px,  864px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment, pie29) { -moz-image-region: rect(0px,  928px, 32px,  896px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment, pie30) { -moz-image-region: rect(0px,  960px, 32px,  928px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment, pie31) { -moz-image-region: rect(0px,  992px, 32px,  960px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment, pie32) { -moz-image-region: rect(0px, 1024px, 32px,  992px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment, pie33) { -moz-image-region: rect(0px, 1056px, 32px, 1024px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment, pie34) { -moz-image-region: rect(0px, 1088px, 32px, 1056px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment, pie35) { -moz-image-region: rect(0px, 1120px, 32px, 1088px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment, pie36) { -moz-image-region: rect(0px, 1152px, 32px, 1120px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment, pie37) { -moz-image-region: rect(0px, 1184px, 32px, 1152px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment, pie38) { -moz-image-region: rect(0px, 1216px, 32px, 1184px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment, pie39) { -moz-image-region: rect(0px, 1248px, 32px, 1216px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment, pie40) { -moz-image-region: rect(0px, 1280px, 32px, 1248px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment, pie41) { -moz-image-region: rect(0px, 1312px, 32px, 1280px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment, pie42) { -moz-image-region: rect(0px, 1344px, 32px, 1312px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment, pie43) { -moz-image-region: rect(0px, 1376px, 32px, 1344px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment, pie44) { -moz-image-region: rect(0px, 1408px, 32px, 1376px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment, pie45) { -moz-image-region: rect(0px, 1440px, 32px, 1408px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment, pie46) { -moz-image-region: rect(0px, 1472px, 32px, 1440px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment, pie47) { -moz-image-region: rect(0px, 1504px, 32px, 1472px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment, pie48) { -moz-image-region: rect(0px, 1536px, 32px, 1504px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment, pie49) { -moz-image-region: rect(0px, 1568px, 32px, 1536px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment, pie50) { -moz-image-region: rect(0px, 1600px, 32px, 1568px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment, pie51) { -moz-image-region: rect(0px, 1632px, 32px, 1600px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment, pie52) { -moz-image-region: rect(0px, 1664px, 32px, 1632px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment, pie53) { -moz-image-region: rect(0px, 1696px, 32px, 1664px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment, pie54) { -moz-image-region: rect(0px, 1728px, 32px, 1696px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment, pie55) { -moz-image-region: rect(0px, 1760px, 32px, 1728px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment, pie56) { -moz-image-region: rect(0px, 1792px, 32px, 1760px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment, pie57) { -moz-image-region: rect(0px, 1824px, 32px, 1792px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment, pie58) { -moz-image-region: rect(0px, 1856px, 32px, 1824px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment, pie59) { -moz-image-region: rect(0px, 1888px, 32px, 1856px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment, pie60) { -moz-image-region: rect(0px, 1920px, 32px, 1888px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment, pie61) { -moz-image-region: rect(0px, 1952px, 32px, 1920px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment, pie62) { -moz-image-region: rect(0px, 1984px, 32px, 1952px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment, pie63) { -moz-image-region: rect(0px, 2016px, 32px, 1984px); }
#zotero-items-tree treechildren::-moz-tree-image(hasAttachment, pie64) { -moz-image-region: rect(0px, 2048px, 32px, 2016px); }

#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment,  pie1) { -moz-image-region: rect(32px,   32px, 64px,    0px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment,  pie2) { -moz-image-region: rect(32px,   64px, 64px,   32px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment,  pie3) { -moz-image-region: rect(32px,   96px, 64px,   64px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment,  pie4) { -moz-image-region: rect(32px,  128px, 64px,   96px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment,  pie5) { -moz-image-region: rect(32px,  160px, 64px,  128px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment,  pie6) { -moz-image-region: rect(32px,  192px, 64px,  160px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment,  pie7) { -moz-image-region: rect(32px,  224px, 64px,  192px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment,  pie8) { -moz-image-region: rect(32px,  256px, 64px,  224px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment,  pie9) { -moz-image-region: rect(32px,  288px, 64px,  256px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment, pie10) { -moz-image-region: rect(32px,  320px, 64px,  288px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment, pie11) { -moz-image-region: rect(32px,  352px, 64px,  320px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment, pie12) { -moz-image-region: rect(32px,  384px, 64px,  352px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment, pie13) { -moz-image-region: rect(32px,  416px, 64px,  384px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment, pie14) { -moz-image-region: rect(32px,  448px, 64px,  416px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment, pie15) { -moz-image-region: rect(32px,  480px, 64px,  448px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment, pie16) { -moz-image-region: rect(32px,  512px, 64px,  480px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment, pie17) { -moz-image-region: rect(32px,  544px, 64px,  512px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment, pie18) { -moz-image-region: rect(32px,  576px, 64px,  544px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment, pie19) { -moz-image-region: rect(32px,  608px, 64px,  576px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment, pie20) { -moz-image-region: rect(32px,  640px, 64px,  608px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment, pie21) { -moz-image-region: rect(32px,  672px, 64px,  640px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment, pie22) { -moz-image-region: rect(32px,  704px, 64px,  672px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment, pie23) { -moz-image-region: rect(32px,  736px, 64px,  704px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment, pie24) { -moz-image-region: rect(32px,  768px, 64px,  736px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment, pie25) { -moz-image-region: rect(32px,  800px, 64px,  768px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment, pie26) { -moz-image-region: rect(32px,  832px, 64px,  800px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment, pie27) { -moz-image-region: rect(32px,  864px, 64px,  832px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment, pie28) { -moz-image-region: rect(32px,  896px, 64px,  864px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment, pie29) { -moz-image-region: rect(32px,  928px, 64px,  896px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment, pie30) { -moz-image-region: rect(32px,  960px, 64px,  928px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment, pie31) { -moz-image-region: rect(32px,  992px, 64px,  960px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment, pie32) { -moz-image-region: rect(32px, 1024px, 64px,  992px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment, pie33) { -moz-image-region: rect(32px, 1056px, 64px, 1024px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment, pie34) { -moz-image-region: rect(32px, 1088px, 64px, 1056px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment, pie35) { -moz-image-region: rect(32px, 1120px, 64px, 1088px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment, pie36) { -moz-image-region: rect(32px, 1152px, 64px, 1120px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment, pie37) { -moz-image-region: rect(32px, 1184px, 64px, 1152px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment, pie38) { -moz-image-region: rect(32px, 1216px, 64px, 1184px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment, pie39) { -moz-image-region: rect(32px, 1248px, 64px, 1216px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment, pie40) { -moz-image-region: rect(32px, 1280px, 64px, 1248px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment, pie41) { -moz-image-region: rect(32px, 1312px, 64px, 1280px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment, pie42) { -moz-image-region: rect(32px, 1344px, 64px, 1312px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment, pie43) { -moz-image-region: rect(32px, 1376px, 64px, 1344px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment, pie44) { -moz-image-region: rect(32px, 1408px, 64px, 1376px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment, pie45) { -moz-image-region: rect(32px, 1440px, 64px, 1408px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment, pie46) { -moz-image-region: rect(32px, 1472px, 64px, 1440px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment, pie47) { -moz-image-region: rect(32px, 1504px, 64px, 1472px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment, pie48) { -moz-image-region: rect(32px, 1536px, 64px, 1504px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment, pie49) { -moz-image-region: rect(32px, 1568px, 64px, 1536px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment, pie50) { -moz-image-region: rect(32px, 1600px, 64px, 1568px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment, pie51) { -moz-image-region: rect(32px, 1632px, 64px, 1600px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment, pie52) { -moz-image-region: rect(32px, 1664px, 64px, 1632px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment, pie53) { -moz-image-region: rect(32px, 1696px, 64px, 1664px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment, pie54) { -moz-image-region: rect(32px, 1728px, 64px, 1696px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment, pie55) { -moz-image-region: rect(32px, 1760px, 64px, 1728px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment, pie56) { -moz-image-region: rect(32px, 1792px, 64px, 1760px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment, pie57) { -moz-image-region: rect(32px, 1824px, 64px, 1792px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment, pie58) { -moz-image-region: rect(32px, 1856px, 64px, 1824px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment, pie59) { -moz-image-region: rect(32px, 1888px, 64px, 1856px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment, pie60) { -moz-image-region: rect(32px, 1920px, 64px, 1888px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment, pie61) { -moz-image-region: rect(32px, 1952px, 64px, 1920px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment, pie62) { -moz-image-region: rect(32px, 1984px, 64px, 1952px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment, pie63) { -moz-image-region: rect(32px, 2016px, 64px, 1984px); }
#zotero-items-tree treechildren::-moz-tree-image(selected, hasAttachment, pie64) { -moz-image-region: rect(32px, 2048px, 64px, 2016px); }
*/

.items-tree-message {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.items-tree-message div {
	padding: 0 65px;
}

.items-tree-message p {
	max-width: 800px;
	font-size: 1.45em;
	line-height: 1.7em;
	text-align: left;
}

.items-tree-message div.publications p {
	font-size: 1.2em;
}

/* Increase size when window is wider */
#zotero-pane.width-1000 .items-tree-message div.publications p {
	font-size: 1.35em;
}

.items-tree-message span.text-link {
	color: rgb(0, 149, 221);
	cursor: pointer;
	text-decoration: underline;
}

/*
	Fx115: make panes occupy all available width/height after layout switch
	or splitter expand/collapse.
	The splitter element stores state in the style attribute's width/height
	properties, and if we remove them, the splitter breaks. So we override
	them here with !important.
*/
#zotero-layout-switcher[orient="horizontal"] :is(#zotero-items-pane-container, #zotero-item-pane) {
	height: auto !important;
}

#zotero-layout-switcher[orient="horizontal"] #zotero-items-pane-container {
	width: 0 !important;
}

#zotero-layout-switcher[orient="vertical"],
#zotero-layout-switcher[orient="vertical"] :is(#zotero-items-pane-container, #zotero-item-pane) {
	width: auto !important;
	/* min-width: 0 is required here to allow the pane to shrink in Stacked view,
	   but the child #zotero-items-pane sets a larger min-width, and the splitter
	   follows that instead of this. */
	min-width: 0 !important;
}

/* 
	Fix to odd fx115 behavior that gives an un-collapsed pane the initial width of min-width + last width
*/
#zotero-collections-pane[collapsed=true] {
	min-width: 0px !important;
	width: 0px !important;
}

#zotero-pane toolbarseparator {
	height:24px;
}

.zotero-button-clear-image {
  list-style-image: none
}

#zotero-collections-tree, #zotero-items-tree, #zotero-item-pane > groupbox
{
	margin: 0;
	padding: 0;
}

#zotero-lookup-textbox {
	margin: 4px;
	padding: 2px;
	overflow-x: hidden; /* Fixes a glitch that renders an extra row */
}

#zotero-lookup-panel {
	min-height: 100px;
	min-width: 500px;
	padding: 10px;
}

#zotero-lookup-multiline-progress
{
	height: 2em;
}

#zotero-lookup-multiline-progress
{
	height: 2em;
}

#zotero-tb-sync-progress
{
	min-width: 50px;
	width: 50px;
	height: 10px;
	margin-inline-start: 0;
}

#zotero-tb-sync-progress-tooltip-progress {
	margin-bottom: 5px;
}

/* Library names */
#zotero-tb-sync-progress-tooltip rows > label
{
	font-weight: 600;
	margin-top: 8px;
}

/* Queue names */
#zotero-tb-sync-progress-tooltip row:not(.library-name) label:first-child
{
	text-align: right;
}


/* Sync error panel */
#zotero-sync-error-panel, #zotero-sync-reminder-panel {
	margin-inline-end: 0;
}

#zotero-sync-error-panel .error-header, #zotero-sync-reminder-panel .header {
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 1em;
	-moz-user-select: text;
	cursor: text
}

.zotero-sync-error-panel-library-name {
	font-size: 12px;
	font-weight: 600;
	margin-left: 0;
	margin-bottom: 1.1em;
}

#zotero-sync-error-panel description, #zotero-sync-reminder-panel description {
	width: 370px;
	white-space: pre-wrap;
}

#zotero-sync-error-panel-buttons {
	-moz-box-pack: end;
}

.zotero-toolbar
{
	visibility: visible !important;
	display: inherit !important;
}

#zotero-tab-cover {
	z-index: 2;
	left: 0;
	right: 0;
	color: var(--fill-primary);
	background-color: var(--material-background);
	position: fixed;
	height: 100%;
	display: flex;
}

#zotero-tab-cover.hidden {
	display: none;
}

#zotero-tab-cover label {
	padding-top: 30px;
	flex-grow: 1;
	text-align: center;
}

.zotero-box {
	margin-inline-start: 5px;
}

.zotero-box-icon {
	width: 16px;
	height: 16px;
}

/* Missing in Fx60 */
.autocomplete-richlistbox {
	border: 1px solid transparent;
	min-height: 1.8em;
}

.autocomplete-richlistitem {
	font: message-box;
	padding: 1px;
	height: 1.5em;
	min-height: 1.5em;
}

.autocomplete-richlistitem[selected] {
	background-color: Highlight;
	color: HighlightText;
}
