#zotero-status-image
{
	width: 16px;
	height: 16px;
}
#zotero-status-bar-icon, #zotero-addon-bar-icon
{
	width: 55px;
	list-style-image: url(chrome://zotero/skin/zotero_status_bar.png);
}
#zotero-status-bar-icon
{
	margin: 0 0 -1px; /* For Fitts's law (on OS X, at least) */
	padding: 0 0 1px;
}
#zotero-addon-bar-icon
{
	margin-left: 10px;
	margin-right: 10px;
	padding: 0 0 1px 0;
	-moz-appearance: none;
}
#zotero-status-bar-icon[compact="true"], #zotero-addon-bar-icon[compact="true"]
{
	width: 20px;
	list-style-image: url(chrome://zotero/skin/zotero_status_bar_compact.png);
}
#zotero-status-bar-icon[error="true"], #zotero-addon-bar-icon[error="true"]
{
	list-style-image: url(chrome://zotero/skin/zotero_status_bar_error.png);
}

#zotero-pane
{
	min-height: 32px; /* must match value in ZoteroPane.updateTagSelectorSize() */
	overflow: hidden;
}

#zotero-collections-pane
{
	min-width: 150px;
	width: 250px;
}

#zotero-collections-tree {
	min-height: 5.2em;
}

#zotero-collections-tree treechildren::-moz-tree-image
{
	margin-right: 5px;
}

/* Set by setHighlightedRows() and getRowProperties() in collectionTreeView.js) */
#zotero-collections-tree treechildren::-moz-tree-row(highlighted)
{
	background: #FFFF99 !important;
}

/*#zotero-collections-tree treechildren::-moz-tree-row(separator)
{
	height: .25em;
}*/

#zotero-pane splitter
{
	border: 0;
	width: 10px;
	background-color: transparent;
	background-image: none;
}

#zotero-items-tree treechildren::-moz-tree-image
{
	margin-right: 5px;
}

/* Set tag colors */
#zotero-items-tree treechildren::-moz-tree-cell-text(colorFFFFFF) { color:#FFFFFF }
#zotero-items-tree treechildren::-moz-tree-cell-text(colorFFCCCC) { color:#FFCCCC }
#zotero-items-tree treechildren::-moz-tree-cell-text(colorFFCC99) { color:#FFCC99 }
#zotero-items-tree treechildren::-moz-tree-cell-text(colorFFFF99) { color:#FFFF99 }
#zotero-items-tree treechildren::-moz-tree-cell-text(colorFFFFCC) { color:#FFFFCC }
#zotero-items-tree treechildren::-moz-tree-cell-text(color99FF99) { color:#99FF99 }
#zotero-items-tree treechildren::-moz-tree-cell-text(color99FFFF) { color:#99FFFF }
#zotero-items-tree treechildren::-moz-tree-cell-text(colorCCFFFF) { color:#CCFFFF }
#zotero-items-tree treechildren::-moz-tree-cell-text(colorCCCCFF) { color:#CCCCFF }
#zotero-items-tree treechildren::-moz-tree-cell-text(colorFFCCFF) { color:#FFCCFF }
#zotero-items-tree treechildren::-moz-tree-cell-text(colorCCCCCC) { color:#CCCCCC }
#zotero-items-tree treechildren::-moz-tree-cell-text(colorFF6666) { color:#FF6666 }
#zotero-items-tree treechildren::-moz-tree-cell-text(colorFF9966) { color:#FF9966 }
#zotero-items-tree treechildren::-moz-tree-cell-text(colorFFFF66) { color:#FFFF66 }
#zotero-items-tree treechildren::-moz-tree-cell-text(colorFFFF33) { color:#FFFF33 }
#zotero-items-tree treechildren::-moz-tree-cell-text(color66FF99) { color:#66FF99 }
#zotero-items-tree treechildren::-moz-tree-cell-text(color33FFFF) { color:#33FFFF }
#zotero-items-tree treechildren::-moz-tree-cell-text(color66FFFF) { color:#66FFFF }
#zotero-items-tree treechildren::-moz-tree-cell-text(color9999FF) { color:#9999FF }
#zotero-items-tree treechildren::-moz-tree-cell-text(colorFF99FF) { color:#FF99FF }
#zotero-items-tree treechildren::-moz-tree-cell-text(colorC0C0C0) { color:#C0C0C0 }
#zotero-items-tree treechildren::-moz-tree-cell-text(colorFF0000) { color:#FF0000 }
#zotero-items-tree treechildren::-moz-tree-cell-text(colorFF9900) { color:#FF9900 }
#zotero-items-tree treechildren::-moz-tree-cell-text(colorFFCC66) { color:#FFCC66 }
#zotero-items-tree treechildren::-moz-tree-cell-text(colorFFFF00) { color:#FFFF00 }
#zotero-items-tree treechildren::-moz-tree-cell-text(color33FF33) { color:#33FF33 }
#zotero-items-tree treechildren::-moz-tree-cell-text(color66CCCC) { color:#66CCCC }
#zotero-items-tree treechildren::-moz-tree-cell-text(color33CCFF) { color:#33CCFF }
#zotero-items-tree treechildren::-moz-tree-cell-text(color6666CC) { color:#6666CC }
#zotero-items-tree treechildren::-moz-tree-cell-text(colorCC66CC) { color:#CC66CC }
#zotero-items-tree treechildren::-moz-tree-cell-text(color999999) { color:#999999 }
#zotero-items-tree treechildren::-moz-tree-cell-text(colorCC0000) { color:#CC0000 }
#zotero-items-tree treechildren::-moz-tree-cell-text(colorFF6600) { color:#FF6600 }
#zotero-items-tree treechildren::-moz-tree-cell-text(colorFFCC33) { color:#FFCC33 }
#zotero-items-tree treechildren::-moz-tree-cell-text(colorFFCC00) { color:#FFCC00 }
#zotero-items-tree treechildren::-moz-tree-cell-text(color33CC00) { color:#33CC00 }
#zotero-items-tree treechildren::-moz-tree-cell-text(color00CCCC) { color:#00CCCC }
#zotero-items-tree treechildren::-moz-tree-cell-text(color3366FF) { color:#3366FF }
#zotero-items-tree treechildren::-moz-tree-cell-text(color6633FF) { color:#6633FF }
#zotero-items-tree treechildren::-moz-tree-cell-text(colorCC33CC) { color:#CC33CC }
#zotero-items-tree treechildren::-moz-tree-cell-text(color666666) { color:#666666 }
#zotero-items-tree treechildren::-moz-tree-cell-text(color990000) { color:#990000 }
#zotero-items-tree treechildren::-moz-tree-cell-text(colorCC6600) { color:#CC6600 }
#zotero-items-tree treechildren::-moz-tree-cell-text(colorCC9933) { color:#CC9933 }
#zotero-items-tree treechildren::-moz-tree-cell-text(color999900) { color:#999900 }
#zotero-items-tree treechildren::-moz-tree-cell-text(color009900) { color:#009900 }
#zotero-items-tree treechildren::-moz-tree-cell-text(color339999) { color:#339999 }
#zotero-items-tree treechildren::-moz-tree-cell-text(color3333FF) { color:#3333FF }
#zotero-items-tree treechildren::-moz-tree-cell-text(color6600CC) { color:#6600CC }
#zotero-items-tree treechildren::-moz-tree-cell-text(color993399) { color:#993399 }
#zotero-items-tree treechildren::-moz-tree-cell-text(color333333) { color:#333333 }
#zotero-items-tree treechildren::-moz-tree-cell-text(color660000) { color:#660000 }
#zotero-items-tree treechildren::-moz-tree-cell-text(color993300) { color:#993300 }
#zotero-items-tree treechildren::-moz-tree-cell-text(color996633) { color:#996633 }
#zotero-items-tree treechildren::-moz-tree-cell-text(color666600) { color:#666600 }
#zotero-items-tree treechildren::-moz-tree-cell-text(color006600) { color:#006600 }
#zotero-items-tree treechildren::-moz-tree-cell-text(color336666) { color:#336666 }
#zotero-items-tree treechildren::-moz-tree-cell-text(color000099) { color:#000099 }
#zotero-items-tree treechildren::-moz-tree-cell-text(color333399) { color:#333399 }
#zotero-items-tree treechildren::-moz-tree-cell-text(color663366) { color:#663366 }
#zotero-items-tree treechildren::-moz-tree-cell-text(color330000) { color:#330000 }
#zotero-items-tree treechildren::-moz-tree-cell-text(color663300) { color:#663300 }
#zotero-items-tree treechildren::-moz-tree-cell-text(color663333) { color:#663333 }
#zotero-items-tree treechildren::-moz-tree-cell-text(color333300) { color:#333300 }
#zotero-items-tree treechildren::-moz-tree-cell-text(color003300) { color:#003300 }
#zotero-items-tree treechildren::-moz-tree-cell-text(color003333) { color:#003333 }
#zotero-items-tree treechildren::-moz-tree-cell-text(color000066) { color:#000066 }
#zotero-items-tree treechildren::-moz-tree-cell-text(color330099) { color:#330099 }
#zotero-items-tree treechildren::-moz-tree-cell-text(color330033) { color:#330033 }

/* For selected item with colored tags, set the background color instead */
#zotero-items-tree treechildren::-moz-tree-row(colorFFFFFF,focus) { background:#FFFFFF }
#zotero-items-tree treechildren::-moz-tree-row(colorFFCCCC,focus) { background:#FFCCCC }
#zotero-items-tree treechildren::-moz-tree-row(colorFFCC99,focus) { background:#FFCC99 }
#zotero-items-tree treechildren::-moz-tree-row(colorFFFF99,focus) { background:#FFFF99 }
#zotero-items-tree treechildren::-moz-tree-row(colorFFFFCC,focus) { background:#FFFFCC }
#zotero-items-tree treechildren::-moz-tree-row(color99FF99,focus) { background:#99FF99 }
#zotero-items-tree treechildren::-moz-tree-row(color99FFFF,focus) { background:#99FFFF }
#zotero-items-tree treechildren::-moz-tree-row(colorCCFFFF,focus) { background:#CCFFFF }
#zotero-items-tree treechildren::-moz-tree-row(colorCCCCFF,focus) { background:#CCCCFF }
#zotero-items-tree treechildren::-moz-tree-row(colorFFCCFF,focus) { background:#FFCCFF }
#zotero-items-tree treechildren::-moz-tree-row(colorCCCCCC,focus) { background:#CCCCCC }
#zotero-items-tree treechildren::-moz-tree-row(colorFF6666,focus) { background:#FF6666 }
#zotero-items-tree treechildren::-moz-tree-row(colorFF9966,focus) { background:#FF9966 }
#zotero-items-tree treechildren::-moz-tree-row(colorFFFF66,focus) { background:#FFFF66 }
#zotero-items-tree treechildren::-moz-tree-row(colorFFFF33,focus) { background:#FFFF33 }
#zotero-items-tree treechildren::-moz-tree-row(color66FF99,focus) { background:#66FF99 }
#zotero-items-tree treechildren::-moz-tree-row(color33FFFF,focus) { background:#33FFFF }
#zotero-items-tree treechildren::-moz-tree-row(color66FFFF,focus) { background:#66FFFF }
#zotero-items-tree treechildren::-moz-tree-row(color9999FF,focus) { background:#9999FF }
#zotero-items-tree treechildren::-moz-tree-row(colorFF99FF,focus) { background:#FF99FF }
#zotero-items-tree treechildren::-moz-tree-row(colorC0C0C0,focus) { background:#C0C0C0 }
#zotero-items-tree treechildren::-moz-tree-row(colorFF0000,focus) { background:#FF0000 }
#zotero-items-tree treechildren::-moz-tree-row(colorFF9900,focus) { background:#FF9900 }
#zotero-items-tree treechildren::-moz-tree-row(colorFFCC66,focus) { background:#FFCC66 }
#zotero-items-tree treechildren::-moz-tree-row(colorFFFF00,focus) { background:#FFFF00 }
#zotero-items-tree treechildren::-moz-tree-row(color33FF33,focus) { background:#33FF33 }
#zotero-items-tree treechildren::-moz-tree-row(color66CCCC,focus) { background:#66CCCC }
#zotero-items-tree treechildren::-moz-tree-row(color33CCFF,focus) { background:#33CCFF }
#zotero-items-tree treechildren::-moz-tree-row(color6666CC,focus) { background:#6666CC }
#zotero-items-tree treechildren::-moz-tree-row(colorCC66CC,focus) { background:#CC66CC }
#zotero-items-tree treechildren::-moz-tree-row(color999999,focus) { background:#999999 }
#zotero-items-tree treechildren::-moz-tree-row(colorCC0000,focus) { background:#CC0000 }
#zotero-items-tree treechildren::-moz-tree-row(colorFF6600,focus) { background:#FF6600 }
#zotero-items-tree treechildren::-moz-tree-row(colorFFCC33,focus) { background:#FFCC33 }
#zotero-items-tree treechildren::-moz-tree-row(colorFFCC00,focus) { background:#FFCC00 }
#zotero-items-tree treechildren::-moz-tree-row(color33CC00,focus) { background:#33CC00 }
#zotero-items-tree treechildren::-moz-tree-row(color00CCCC,focus) { background:#00CCCC }
#zotero-items-tree treechildren::-moz-tree-row(color3366FF,focus) { background:#3366FF }
#zotero-items-tree treechildren::-moz-tree-row(color6633FF,focus) { background:#6633FF }
#zotero-items-tree treechildren::-moz-tree-row(colorCC33CC,focus) { background:#CC33CC }
#zotero-items-tree treechildren::-moz-tree-row(color666666,focus) { background:#666666 }
#zotero-items-tree treechildren::-moz-tree-row(color990000,focus) { background:#990000 }
#zotero-items-tree treechildren::-moz-tree-row(colorCC6600,focus) { background:#CC6600 }
#zotero-items-tree treechildren::-moz-tree-row(colorCC9933,focus) { background:#CC9933 }
#zotero-items-tree treechildren::-moz-tree-row(color999900,focus) { background:#999900 }
#zotero-items-tree treechildren::-moz-tree-row(color009900,focus) { background:#009900 }
#zotero-items-tree treechildren::-moz-tree-row(color339999,focus) { background:#339999 }
#zotero-items-tree treechildren::-moz-tree-row(color3333FF,focus) { background:#3333FF }
#zotero-items-tree treechildren::-moz-tree-row(color6600CC,focus) { background:#6600CC }
#zotero-items-tree treechildren::-moz-tree-row(color993399,focus) { background:#993399 }
#zotero-items-tree treechildren::-moz-tree-row(color333333,focus) { background:#333333 }
#zotero-items-tree treechildren::-moz-tree-row(color660000,focus) { background:#660000 }
#zotero-items-tree treechildren::-moz-tree-row(color993300,focus) { background:#993300 }
#zotero-items-tree treechildren::-moz-tree-row(color996633,focus) { background:#996633 }
#zotero-items-tree treechildren::-moz-tree-row(color666600,focus) { background:#666600 }
#zotero-items-tree treechildren::-moz-tree-row(color006600,focus) { background:#006600 }
#zotero-items-tree treechildren::-moz-tree-row(color336666,focus) { background:#336666 }
#zotero-items-tree treechildren::-moz-tree-row(color000099,focus) { background:#000099 }
#zotero-items-tree treechildren::-moz-tree-row(color333399,focus) { background:#333399 }
#zotero-items-tree treechildren::-moz-tree-row(color663366,focus) { background:#663366 }
#zotero-items-tree treechildren::-moz-tree-row(color330000,focus) { background:#330000 }
#zotero-items-tree treechildren::-moz-tree-row(color663300,focus) { background:#663300 }
#zotero-items-tree treechildren::-moz-tree-row(color663333,focus) { background:#663333 }
#zotero-items-tree treechildren::-moz-tree-row(color333300,focus) { background:#333300 }
#zotero-items-tree treechildren::-moz-tree-row(color003300,focus) { background:#003300 }
#zotero-items-tree treechildren::-moz-tree-row(color003333,focus) { background:#003333 }
#zotero-items-tree treechildren::-moz-tree-row(color000066,focus) { background:#000066 }
#zotero-items-tree treechildren::-moz-tree-row(color330099,focus) { background:#330099 }
#zotero-items-tree treechildren::-moz-tree-row(color330033,focus) { background:#330033 }

/* Style search results, display non-matches in gray */
#zotero-items-tree treechildren::-moz-tree-cell-text(contextRow) {
	color: gray;
}

#zotero-items-tree treechildren::-moz-tree-cell-text(contextRow, selected, focus) {
	/* This is the default color, not the (platform-specific) highlight color, but at least it
	   helps to differentiate when clicking on a context row. */
	color: inherit;
}

#zotero-advanced-search-dialog #zotero-items-tree
{
	min-height: 250px;
}

#zotero-items-pane
{
	min-width: 290px;
}

#zotero-item-pane
{
	width: 335px;
	min-width: 335px;
}

#zotero-pane .toolbar
{
	height: 32px !important; /* Hard-code this to fix toolbar icon compression on Linux */
	margin: 0;
	padding: 0;
	min-width: 1px;
	-moz-appearance: toolbar;
}

#zotero-pane toolbarseparator {
	height:24px;
}

#zotero-collections-toolbar {
	padding-left: 2px;
}

.zotero-tb-button {
	padding-left: 5px;
	padding-right: 5px;
	margin-right: 2px;
	margin-left: 2px;
}

.zotero-tb-button:first-child {
	margin-left: 0 !important;
}

.zotero-tb-button:last-child {
	margin-right: 0 !important;
}

.zotero-tb-button[type="menu"] {
	padding-left: 3px;
	padding-right: 3px;
	margin-left: 4px;
	margin-right: 2px;
}

.zotero-tb-button[type="panel"] > dropmarker {
  display: none;
}

#zotero-tb-collection-add
{
	list-style-image: url('chrome://zotero/skin/toolbar-collection-add.png');
}

#zotero-tb-group-add
{
	list-style-image: url('chrome://zotero/skin/group_add.png');
}


#zotero-tb-tag-selector
{
	list-style-image: url(chrome://zotero/skin/tag-selector.png);
}

#zotero-collections-tree, #zotero-items-tree, #zotero-item-pane > groupbox
{
	margin: 0;
	padding: 0;
}


#zotero-tb-actions-menu
{
	list-style-image: url('chrome://zotero/skin/cog.png');
}

#zotero-tb-add
{
	list-style-image: url('chrome://zotero/skin/toolbar-item-add.png');
}

#zotero-tb-lookup
{
	list-style-image: url('chrome://zotero/skin/toolbar-lookup.png');
}

#zotero-tb-item-from-page
{
	list-style-image: url('chrome://zotero/skin/toolbar-item-from-page.png');
}

/*
#zotero-tb-link-page
{
	list-style-image: url('chrome://zotero/skin/toolbar-link-add.png');
}

#zotero-tb-snapshot-page
{
	list-style-image: url('chrome://zotero/skin/toolbar-snapshot-add.png');
}
*/

#zotero-tb-attachment-add
{
	list-style-image: url('chrome://zotero/skin/attach.png');
}

#zotero-tb-note-add
{
	list-style-image: url('chrome://zotero/skin/toolbar-note-add.png');
}

#zotero-menuitem-note
{
	list-style-image: url('chrome://zotero/skin/treeitem-note.png');
}

.zotero-menuitem-attachments-file
{
	list-style-image: url('chrome://zotero/skin/treeitem-attachment-file.png');
}

.zotero-menuitem-attachments-link
{
	list-style-image: url('chrome://zotero/skin/treeitem-attachment-link.png');
}

.zotero-menuitem-attachments-snapshot
{
	list-style-image: url('chrome://zotero/skin/treeitem-attachment-snapshot.png');
}

.zotero-menuitem-attachments-web-link
{
	list-style-image: url('chrome://zotero/skin/treeitem-attachment-web-link.png');
}

#zotero-tb-advanced-search
{
	list-style-image: url('chrome://zotero/skin/toolbar-advanced-search.png');
}

#zotero-tb-locate
{
	list-style-image: url('chrome://zotero/skin/toolbar-go-arrow.png');
}

#zotero-tb-sync-storage-cancel
{
	list-style-image: url(chrome://zotero/skin/control_stop_blue.png);
	margin-right: 0;
}

#zotero-tb-sync-progress
{
	min-width: 50px;
	width: 50px;
	height: 10px;
	margin-left: 0;
}

#zotero-tb-sync-progress-tooltip row label:first-child
{
	text-align: right;
	font-weight: bold;
}

#zotero-tb-sync-warning, #zotero-tb-sync-warning[mode=warning]
{
	list-style-image: url(chrome://zotero/skin/error.png);
	margin-right: -5px;
}

#zotero-tb-sync-warning[mode=error]
{
	list-style-image: url(chrome://zotero/skin/exclamation.png);
}

#zotero-tb-sync-warning[mode=upgrade]
{
	list-style-image: url(chrome://zotero/skin/bell_error.png);
}

#zotero-tb-sync {
	list-style-image: url(chrome://zotero/skin/arrow_rotate_static.png);
	margin-left: -6px;
	margin-right: -2px;
	padding-right: 6px;
}

#zotero-tb-sync[status=animate] {
	list-style-image: url(chrome://zotero/skin/arrow_rotate_animated.png);
}

#zotero-tb-sync-status, #zotero-tb-sync-last-sync
{
	color: gray;
}

#zotero-tb-fullscreen
{
	list-style-image: url('chrome://zotero/skin/toolbar-fullscreen-bottom.png');
}

#zotero-pane-stack[fullscreenmode="true"] #zotero-tb-fullscreen
{
	list-style-image: url('chrome://zotero/skin/toolbar-fullscreen-top.png');
}

#zotero-tb-search
{
	font-size: 11px !important;
	margin-right: 0;
	width: 160px;
}

#zotero-tb-search-menu-button
{
	margin: 0;
	padding: 0;
	-moz-appearance: none;
	min-width: 0;
	cursor: default;
}

#zotero-splitter
{
	border-top: none;
	border-bottom: 1px solid #A3A3A3;
	min-height: 4px;
	max-height: 4px;
	background-image: none;
}

#zotero-items-pane-message-box
{
	-moz-appearance: listbox;
}

#zotero-items-pane-message-box description:not(:first-child) {
	margin-top: .75em;
}


#zotero-annotate-tb-add
{
	list-style-image: url('chrome://zotero/skin/annotate-add.png');
}

#zotero-annotate-tb-collapse
{
	list-style-image: url('chrome://zotero/skin/annotate-collapse.png');
}

#zotero-annotate-tb-highlight
{
	list-style-image: url('chrome://zotero/skin/annotate-highlight.png');
}

#zotero-annotate-tb-unhighlight
{
	list-style-image: url('chrome://zotero/skin/annotate-unhighlight.png');
}

#zotero-annotate-tb-add[tool-active=true]
{
	list-style-image: url('chrome://zotero/skin/annotate-add-selected.png');
}

#zotero-annotate-tb-highlight[tool-active=true]
{
	list-style-image: url('chrome://zotero/skin/annotate-highlight-selected.png');
}

#zotero-annotate-tb-unhighlight[tool-active=true]
{
	list-style-image: url('chrome://zotero/skin/annotate-unhighlight-selected.png');
}

#zotero-toolbar
{
	visibility: visible !important;
}