prefwindow .chromeclass-toolbar
{
	display: -moz-box !important; /* Ignore toolbar collapse button on OS X */
}

prefwindow {
   min-width: 600px;
}

description, label, checkbox {
	max-width: 630px;
}

radio[pane]
{
	min-width: 5.5em;
	height: 48px;
	-moz-box-align: center;
	-moz-box-pack: end;
}

#export-citePaperJournalArticleURL
{
	font-size: .85em;
}

.statusLine
{
	margin: .75em 0;
	font-size: .85em;
}

/* Links within messages */
description label[class=zotero-text-link], label[class=zotero-text-link]
{
	margin: 0;
}

/* General pane */
grid row:not(:first-child)
{
	margin-top: .3em;
}

grid row hbox:first-child
{
	-moz-box-pack: end; /* Right-justify left column */
}

#fontSize
{
	font-size: 3mm; /* Firefox default */
}

#fontSize1
{
	font-size: 1.0em;
}

#fontSize2
{
	font-size: 1.15em;
}

#fontSize3
{
	font-size: 1.3em;
}

#fontSize4
{
	font-size: 1.5em;
}


#showIn radio, #statusBarIcon radio
{
	width: 120px;
}

#fontSize radio
{
	margin-right: 20px;
}

#statusBarIcon radio .radio-icon
{
	margin-left: 6px;
}


/*
 * Sync pane
 */
 
/* Settings tab */
#zotero-prefpane-sync row, #zotero-prefpane-sync row hbox
{
	-moz-box-align: center;
}
#zotero-prefpane-sync row label:first-child
{
	text-align: right;
}
#zotero-prefpane-sync row hbox
{
	margin-left: 4px;
}
#zotero-prefpane-sync row hbox label:first-child,
#zotero-prefpane-sync row hbox menulist:first-child
{
	margin-left: 0;
	margin-right: 0;
}
#zotero-prefpane-sync row hbox textbox
{
	margin-left: 3px;
	margin-right: 3px;
}
#zotero-prefpane-sync row hbox label:last-child
{
	margin-left: 0;
	margin-right: 10px;
}

.storage-settings-download-options
{
	margin-left: 40px;
}

#storage-verify, #storage-abort, #storage-clean
{
	margin-left: 0;
	min-width: 8em;
}

#storage-terms > label
{
	margin-left: 0;
	font-size: .9em;
}

#storage-terms > label:first-child
{
	margin-right: .25em;
}

#storage-terms > label[class=zotero-text-link]
{
	margin-right: 0;
}

/* Reset tab */
#zotero-reset row
{
	margin: 0;
	padding: 8px;
}

#zotero-reset row:not(:last-child)
{
}

#zotero-reset row vbox
{
	-moz-box-align: start;
}

#zotero-reset row[selected="true"]
{
}


#zotero-reset row vbox label
{
	margin-left: 3px;
	font-weight: bold;
	font-size: 14px;
}

#zotero-reset description
{
	margin-left: 3px;
	margin-top: 1px;
	font-size: 12px;
}

/* Reset button */
#zotero-reset > hbox
{
	margin-top: 5px;
}


/*
 * Search pane
 */
#pdfinfo-status
{
	margin-top: 0 !important;
}

#fulltext-stats row > label:first-child
{
	text-align: right;
}


/* Export pane */
#zotero-prefpane-export separator:not(.thin)
{
	height: 1em;
}

#quickCopy-instructions, #quickCopy-citationInstructions {
	font-size: 12px;
}

#quickCopy-siteSettings-rows::-moz-tree-cell(quickCopy-copyAsHTML) {
	/*
	DEBUG: possible to center checkmark here instead of with spaces?
	
	Tried text-align, -moz-box-align, and -moz-box-pack
	*/
}

#zotero-quickCopy-format
{
	min-height: 1.5em; /* Fix collapse on Windows */
}

/*
 * Cite pane
 */
#wordProcessors > label:not(:first-child) {
	margin-top: 10px;
}

#styleManager
{
	height: 250px;
}

/* Shortcut Keys pane */
#zotero-prefpane-keys row
{
	-moz-box-align: center;
}

#styleManager-csl
{
	width: 36px;
}

#zotero-prefpane-keys textbox
{
	margin-left: -1px;
}

#zotero-prefpane-keys checkbox
{
	margin: .75em 0;
}

treechildren::-moz-tree-checkbox {
  /* unchecked checkbox treecells. This style MUST come before treechildren::-moz-tree-checkbox(checked) otherwise it won't take effect.  */
  list-style-image: none;
}

treechildren::-moz-tree-checkbox(checked){
  /* css for checked cells. cbox-check.gif isn't available in Firefox 1, 2, and 3 on Mac OS X, so you should specify a URL to an image
     in your extension or elsewhere. */
  list-style-image: url("chrome://global/skin/checkbox/cbox-check.gif");
}
