#zotero-prefs {
	width: 800px;
	height: 600px;
	min-width: 800px;
	min-height: 600px;
}

#prefs-outer-container {
	display: flex;
	flex-direction: row;
	min-width: 0;
	min-height: 0;
	-moz-box-flex: 1;
}

#prefs-inner-container {
	flex: 1;
	display: flex;
	flex-direction: column;
	min-width: 0;
}

#prefs-content {
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow: scroll;
	padding-bottom: 10px;
}

#prefs-content > * {
	display: flex;
	flex-direction: column;
	margin: 5px 15px;
	max-width: 800px;
}

#prefs-content > [hidden] {
	display: none;
}

#prefs-search-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	min-height: 40px;
	padding-inline-end: 8px;
}

#prefs-search {
	width: 16em;
	-moz-box-pack: end;
}

#prefs-navigation {
	width: 180px;
	flex-shrink: 0;
	appearance: none;
	background: transparent;
	margin: 6px;
}

#prefs-navigation > richlistitem {
	padding: 1em;
	border-radius: 5px;
	-moz-box-align: center;
	font-size: 1.1em;
	transition: background-color 0.2s ease;
}

#prefs-navigation > richlistitem:is([selected="true"], [data-parent-selected="true"]) {
	background-color: highlight;
	color: highlighttext;
}

#prefs-navigation > richlistitem:not([selected="true"], [data-parent-selected="true"]):hover {
	background-color: color-mix(in srgb, transparent 60%, highlight);
}

#prefs-navigation > richlistitem image {
	width: 24px;
}

#prefs-navigation > hr {
	margin: 8px 0;
	border: none;
	border-top: 1px solid lightgray;
}

#prefs-subpane-back-button-container {
	flex: 1;
}

#prefs-subpane-back-button {
	appearance: none;
	font-size: 32px;
	min-width: auto;
	padding: 8px;
	color: -moz-dialogtext;
	background-color: transparent;
	transition: color 0.1s ease;
}

#prefs-subpane-back-button:hover {
	color: color-mix(in srgb, -moz-dialogtext 30%, SelectedItem);
}

#prefs-subpane-back-button:hover:active {
	color: SelectedItem;
}

#prefs-help-container {
	display: flex;
	align-items: end;
}

h1 {
	margin: 0 0 12px 0;
	font-size: 1.3em;
	font-weight: normal;
}

.header {
	margin-bottom: 8px;
}

/* Headers in subsections */
.main-section {
	margin-bottom: 16px;
}

.main-section:not([hidden]):not(.hidden-by-search) ~ .main-section {
	padding-top: 16px;
	margin-top: 32px;
	border-top: 1px solid lightgray;
}

groupbox > label > h2, groupbox > * > label > h2 {
	border-bottom: none;
	font-weight: bold;
}

groupbox:first-of-type label > h2 {
	margin-top: .5em !important;
}

/* Space out sections */
groupbox:not(:first-of-type) label > h2 {
	margin-top: 2em !important;
}

/* Approach to search tooltips (mostly borrowed from Fx prefs): */
.search-tooltip-parent {
	position: relative;
}

.search-tooltip {
	min-width: 20px;
	max-width: 200px;
	position: absolute;
	bottom: 24px;
	background-color: #ffe900;
	border: 1px solid rgba(0, 0, 0, 40%);
	padding: 2px 8px;
	text-align: center;
}

.search-tooltip::before, .search-tooltip::after {
	content: '';
    position: absolute;
	width: 0;
    height: 0;
    left: calc(50% - 3px);
	border-inline: 6px solid transparent;
}

.search-tooltip::before {
	top: calc(100% + 1px);
	border-top: 6px solid rgba(0, 0, 0, 40%);
}

.search-tooltip::after {
	top: 100%;
	border-top: 6px solid #ffe900;
}

.search-tooltip > span {
	user-select: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.hidden-by-search {
	display: none;
}

prefwindow .chromeclass-toolbar
{
	display: -moz-box !important; /* Ignore toolbar collapse button on OS X */
}

window[windowtype="zotero:pref"] {
   min-width: 600px;
}

label {
	/* Apply XUL label styles to all labels */
	margin-block: 1px 2px;
	margin-inline: 6px 5px;
}

description, label, checkbox {
	max-width: 630px;
}

radio[pane]
{
	min-width: 5.5em;
	height: 48px;
	-moz-box-align: center;
	-moz-box-pack: end;
}

checkbox[disabled="true"] {
	color: gray !important;
}

menulist[disabled="true"] {
	opacity: 75%;
	/* Disable default hover styling */
	pointer-events: none;
}

#export-citePaperJournalArticleURL
{
	font-size: .85em;
}

.statusLine
{
	margin-top: .75em;
	margin-bottom: .75em;
	font-size: .85em;
}

/* Links within messages */
description label[class=zotero-text-link], label[class=zotero-text-link]
{
	margin: 0;
}

.form-grid {
	display: grid;
	grid-template-columns: max-content 1fr;
	row-gap: .3em;
}

.form-grid > :nth-child(odd) {
	-moz-box-pack: end; /* Right-justify left column */
}

.pref-row {
	display: flex;
	align-items: center;
}

button {
	flex-shrink: 0;
}

/* General pane */
#zotero-prefpane-general .statusLine {
	margin-inline-start: .75em;
}

.indented-pref {
	margin-inline-start: 2em;
}

.fileHandler-menus {
	display: grid;
	grid-template-columns: max-content max-content;
	align-items: center;
	justify-content: start;
	column-gap: 1em;
}

.fileHandler-menu .menulist-icon {
	height: 16px;
}

/* File Renaming tab */
#file-renaming-customize-button {
	margin-top: .6em;
}

#zotero-prefpane-file-renaming-format label:not([is=zotero-text-link]) {
	display: block;
}

#file-renaming-format-template {
	width: 100%;
	min-height: 1.25em;
	padding: 0.4em;
	/* Match label margins */
	margin-block: 1px 2px;
	margin-inline: 6px 5px;
}

#file-renaming-format-preview {
	width: 100%;
	padding: 0.4em;
}

/*
 * Sync pane
 */
 
/* Settings tab */
#zotero-prefpane-sync .form-grid {
	align-items: center;
}

#zotero-prefpane-sync .form-grid > hbox {
	-moz-box-align: center;
}

#zotero-prefpane-sync .form-grid > label:nth-child(odd)
{
	text-align: right;
}

#zotero-prefpane-sync .form-grid > hbox
{
	margin-inline-start: 4px;
	display: flex;
	align-items: center;
}

#zotero-prefpane-sync .form-grid > hbox > label:first-child,
#zotero-prefpane-sync .form-grid > hbox > menulist:first-child
{
	margin-inline: 0;
}
#zotero-prefpane-sync .form-grid > hbox > textbox
{
	margin-inline: 3px;
}
#zotero-prefpane-sync .form-grid > hbox > label:last-child
{
	margin-inline-start: 0;
	margin-inline-end: 10px;
}

#zotero-prefpane-sync #sync-auth-button {
	margin-inline-start: 0;
}

#zotero-prefpane-sync #sync-status-indicator
{
	width: 20px;
	height: 20px;
	margin-left: -1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

#zotero-prefpane-sync #sync-status-indicator[verified=true]
{
	background-image: url("chrome://zotero/skin/tick.png")
}

#zotero-prefpane-sync #sync-status-indicator[verified=false]
{
	background-image: url("chrome://zotero/skin/cross.png")
}

#zotero-prefpane-sync #sync-status-indicator[animated]
{
	background-image: url("chrome://zotero/skin/arrow_rotate_animated.png")
}

.storage-settings-download-options
{
	margin-inline-start: 40px;
}

#storage-webdav-settings > .form-grid {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

#storage-verify, #storage-abort, #storage-clean
{
	margin-inline-start: 0;
	min-width: 8em;
}

#storage-terms label
{
	margin-inline-start: 0;
	font-size: .9em;
}

#storage-terms label:first-child
{
	margin-inline-end: .25em;
}

#storage-terms label[class=zotero-text-link]
{
	margin-inline-end: 0;
}

/* Reset tab */
#sync-reset-form {
	margin-inline-start: 1em;
}

#reset-sync-warning {
	font-size: 12px;
}

#sync-reset-form {
	margin-top: 1em;
}

#sync-reset-library-menu-container > label {
	font-weight: bold;
	font-size: 15px;
}

#sync-reset-library-menu {
	width: 14em;
	margin-inline-start: .25em;
	font-size: 15px;
	height: 1.6em;
}

#sync-reset-radiogroup {
	margin-bottom: 1.4em;
}

#sync-reset-radiogroup > div {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* Allow a click between lines to select the radio */
#sync-reset-radiogroup > div label {
	display: block;
}

#sync-reset-radiogroup > div:first-child {
	margin-top: 1.4em;
}

#sync-reset-radiogroup > div radio .radio-label {
	font-weight: bold;
	font-size: 15px;
	margin-bottom: .2em;
}

#sync-reset-radiogroup > div .sync-reset-option-desc {
	font-size: 12px;
}

#sync-reset-radiogroup > div radio {
	float: left;
	margin-top: 1em;
}

#sync-reset-radiogroup > div radio .radio-check {
	margin-inline-end: 1.05em;
}

#sync-reset-radiogroup > div[disabled] span {
	color: gray;
}

#sync-reset button {
	font-size: 14px;
}


/*
 * Search pane
 */
#pdfinfo-status
{
	margin-top: 0 !important;
}

#fulltext-stats > .form-grid > label:nth-child(odd)
{
	text-align: right;
}


/* Export pane */
#zotero-prefpane-export separator:not(.thin)
{
	height: 1em;
}

#quickCopy-instructions, #quickCopy-citationInstructions {
	font-size: 12px;
}

#zotero-prefpane-export .virtualized-table-container {
	height: 120px;
}

#zotero-quickCopy-format
{
	min-height: 1.5em; /* Fix collapse on Windows */
}

#noteQuickCopy-format-options th {
	font-weight: normal;
	text-align: right;
	max-width: 3.6em;
}

/*
 * Cite pane
 */
#wordProcessors > label:not(:first-child) {
	margin-top: 10px;
}

#wordProcessorInstallers {
	margin-block: 0.5em;
}

#wordProcessorInstallers > groupbox > label > h2 {
	/* Override spacing added between groupboxes */
	margin-top: 0.5em !important;
}

#styleManager
{
	height: 250px;
}

#styleManager-updated
{
	width: 105px;
}

/* Advanced General pane */

#zotero-prefpane-advanced-general-tab #openurl-menu {
	width: 400px;
}

/* Shortcut Keys pane */
#zotero-prefpane-advanced-keys-tab input
{
	margin-inline-start: 0;
}

/* Advanced pane */
#zotero-keys-grid {
	display: grid;
	align-items: center;
	grid-template-columns: 1fr max-content max-content;
}

#command-line-data-dir description {
	font-size: 12px;
	cursor: text;
	-moz-user-select: text;
}

#command-line-data-dir label {
	font-size: 11px;
	font-style: italic;
	padding-top: .4em;
	padding-bottom: .4em;
}

#zotero-prefpane-advanced-feeds-feedDefaults .html-input {
	width: 50px;
	text-align: right;
}

#zotero-prefpane-advanced-feeds-feedDefaults hbox {
	display: flex;
	align-items: center;
}

#baseAttachmentPath {
	padding-inline-start: 24px;
	/* Background set in JS */
	background: none;
	background-repeat: no-repeat;
	background-size: 16px;
	background-position: center left 4px;
	appearance: none;
	border: none;
}

#zotero-prefpane-advanced-open-buttons {
	display: block;
	text-align: right;
	margin-top: 1em;
	margin-bottom: .5em;
}


/* BEGIN 2X BLOCK -- DO NOT EDIT MANUALLY -- USE 2XIZE */
@media (min-resolution: 1.25dppx) {
	#zotero-prefpane-sync #sync-status-indicator[verified=true] { background-image: url("chrome://zotero/skin/tick@2x.png") }
	#zotero-prefpane-sync #sync-status-indicator[animated] { background-image: url("chrome://zotero/skin/arrow_rotate_animated@2x.png") }
}
