prefwindow .chromeclass-toolbar
{
	display: -moz-box !important; /* Ignore toolbar collapse button on OS X */
}

radio[pane]
{
	min-width: 5.5em;
	height: 48px;
	-moz-box-align: center;
	-moz-box-pack: end;
}

/* General pane icon */
radio[pane=zotero-prefpane-general]
{
	list-style-image: url("chrome://zotero/skin/prefs-general.png");
}

/*
 * Export pane icon
 */
radio[pane=zotero-prefpane-export]
{
	list-style-image: url("chrome://zotero/skin/prefs-export.png");
}

/*
 * Shortcut Keys pane icon
 *
 * Use the Gear icon until we find a keyboard icon
 */
radio[pane=zotero-prefpane-keys]
{
	list-style-image: url("chrome://zotero/skin/prefs-keys.png");
}


/*
 * Advanced pane icon
 *
 * Use the Gear icon until we find a better icon
 */
radio[pane=zotero-prefpane-advanced]
{
	list-style-image: url("chrome://zotero/skin/prefs-advanced.png");
}


/* General pane */
grid row hbox:first-child
{
	-moz-box-pack: end;
}

#fontSize
{
	font-size: 3mm; /* Firefox default */
}

#fontSize1
{
	font-size: 1.0em;
}

#fontSize2
{
	font-size: 1.25em;
}

#fontSize3
{
	font-size: 1.5em;
}

#fontSize radio, #statusBarIcon radio
{
	width: 90px;
}

#fontSize radio .radio-icon, #statusBarIcon radio .radio-icon
{
	margin-left: 6px;
}

#statusLine
{
	margin-bottom:.75em;
	color: red;
}


/* Export pane */
#quickCopy-instructions, #zotero-prefpane-export vbox {
	margin-bottom: 1em;
}

#quickCopy-menu
{
	margin-top: .4em;
	margin-bottom: .6em;
}

#quickCopy-instructions, #quickCopy-macWarning
{
	font-size: .85em;
}

#quickCopy-macWarning
{
	margin-top: .5em;
	margin-bottom: 1em;
}

#zotero-quickCopy-format
{
	min-height: 1.5em; /* Fix collapse on Windows */
}


/* Shortcut Keys pane */
#zotero-prefpane-keys row
{
	-moz-box-align: center;
}

#zotero-prefpane-keys textbox
{
	margin-left: -1px;
}

#zotero-prefpane-keys checkbox
{
	margin: .75em 0;
}

.statusLine
{
	margin: .75em 0;
	font-size: .85em;
}
