prefwindow .chromeclass-toolbar
{
	display: -moz-box !important; /* Ignore toolbar collapse button on OS X */
}

prefwindow {
   min-width: 600px;
}

description, label, checkbox {
	max-width: 630px;
}

radio[pane]
{
	min-width: 5.5em;
	height: 48px;
	-moz-box-align: center;
	-moz-box-pack: end;
}

checkbox[disabled="true"] {
	color: gray !important;
}

#export-citePaperJournalArticleURL
{
	font-size: .85em;
}

.statusLine
{
	margin-top: .75em;
	margin-bottom: .75em;
	font-size: .85em;
}

/* Links within messages */
description label[class=zotero-text-link], label[class=zotero-text-link]
{
	margin: 0;
}

/* General pane */
grid row:not(:first-child)
{
	margin-top: .3em;
}

grid row hbox:first-child
{
	-moz-box-pack: end; /* Right-justify left column */
}

#zotero-prefpane-general .statusLine {
	margin-left: .75em;
}

.indented-pref {
	margin-left: 2em;
}

.fileHandler-menu .menulist-icon {
	height: 16px;
}

/*
 * Sync pane
 */
 
/* Settings tab */
#zotero-prefpane-sync row, #zotero-prefpane-sync row hbox
{
	-moz-box-align: center;
}
#zotero-prefpane-sync row label:first-child
{
	text-align: right;
}
#zotero-prefpane-sync row hbox
{
	margin-left: 4px;
}
#zotero-prefpane-sync row hbox label:first-child,
#zotero-prefpane-sync row hbox menulist:first-child
{
	margin-left: 0;
	margin-right: 0;
}
#zotero-prefpane-sync row hbox textbox
{
	margin-left: 3px;
	margin-right: 3px;
}
#zotero-prefpane-sync row hbox label:last-child
{
	margin-left: 0;
	margin-right: 10px;
}

#zotero-prefpane-sync #sync-auth-button {
	margin-left: 0;
}

#zotero-prefpane-sync #sync-status-indicator
{
	width: 1.5em;
	height: 1.7em;
	margin-top: 0.4em;
	background-repeat: no-repeat;
	background-position: center;
}

#zotero-prefpane-sync #sync-status-indicator[verified=true]
{
	background-image: url("chrome://zotero/skin/tick.png")
}

#zotero-prefpane-sync #sync-status-indicator[verified=false]
{
	background-image: url("chrome://zotero/skin/cross.png")
}

#zotero-prefpane-sync #sync-status-indicator[animated]
{
	background-image: url("chrome://zotero/skin/arrow_rotate_animated.png")
}

.storage-settings-download-options
{
	margin-left: 40px;
}

#storage-verify, #storage-abort, #storage-clean
{
	margin-left: 0;
	min-width: 8em;
}

#storage-terms label
{
	margin-left: 0;
	font-size: .9em;
}

#storage-terms label:first-child
{
	margin-right: .25em;
}

#storage-terms label[class=zotero-text-link]
{
	margin-right: 0;
}

/* Reset tab */
#sync-reset-form {
	margin-left: 1em;
}

#reset-sync-warning {
	font-size: 12px;
}

#sync-reset-form {
	margin-top: 1em;
}

#sync-reset-library-menu-container {
	font-weight: bold;
	font-size: 15px;
}

#sync-reset-library-menu {
	width: 14em;
	margin-left: .25em;
	font-size: 15px;
	height: 1.6em;
}

#sync-reset-list {
	margin: 0;
	padding: 0;
	height: 9em;
}

#sync-reset-list li {
	margin: 0;
	margin-top: 1.6em;
	padding: 0;
	list-style: none;
	height: 2.8em;
}

/* Allow a click between lines to select the radio */
#sync-reset-list li label {
	display: block;
}

#sync-reset-list li:first-child {
	margin-top: 1.4em;
}

#sync-reset-list li .sync-reset-option-name {
	font-weight: bold;
	display: block;
	font-size: 15px;
	margin-bottom: .2em;
}

#sync-reset-list li .sync-reset-option-desc {
	font-size: 12px;
}

#sync-reset-list li input {
	float: left;
	margin-top: 1em;
	margin-right: 1.05em;
}

#sync-reset-list li[disabled] span {
	color: gray;
}

#sync-reset button {
	font-size: 14px;
}


/*
 * Search pane
 */
#pdfinfo-status
{
	margin-top: 0 !important;
}

#fulltext-stats row > label:first-child
{
	text-align: right;
}


/* Export pane */
#zotero-prefpane-export separator:not(.thin)
{
	height: 1em;
}

#quickCopy-instructions, #quickCopy-citationInstructions {
	font-size: 12px;
}

#quickCopy-siteSettings-rows::-moz-tree-cell(quickCopy-copyAsHTML) {
	/*
	DEBUG: possible to center checkmark here instead of with spaces?
	
	Tried text-align, -moz-box-align, and -moz-box-pack
	*/
}

#zotero-quickCopy-format
{
	min-height: 1.5em; /* Fix collapse on Windows */
}

/*
 * Cite pane
 */
#wordProcessors > label:not(:first-child) {
	margin-top: 10px;
}

#styleManager
{
	height: 250px;
}

#styleManager-updated
{
	width: 105px;
}

/* Shortcut Keys pane */
#zotero-prefpane-advanced-keys-tab row
{
	-moz-box-align: center;
}

#zotero-prefpane-advanced-keys-tab textbox
{
	margin-left: -1px;
}

treechildren::-moz-tree-checkbox {
  /* unchecked checkbox treecells. This style MUST come before treechildren::-moz-tree-checkbox(checked) otherwise it won't take effect.  */
  list-style-image: none;
}

treechildren::-moz-tree-checkbox(checked){
  /* css for checked cells. cbox-check.gif isn't available in Firefox 1, 2, and 3 on Mac OS X, so you should specify a URL to an image
     in your extension or elsewhere. */
  list-style-image: url("chrome://global/skin/checkbox/cbox-check.gif");
}

/* Advanced pane */
#command-line-data-dir description {
	font-size: 12px;
	cursor: text;
	-moz-user-select: text;
}

#command-line-data-dir label {
	font-size: 11px;
	font-style: italic;
	padding-top: .4em;
	padding-bottom: .4em;
}


/* BEGIN 2X BLOCK -- DO NOT EDIT MANUALLY -- USE 2XIZE */
@media (min-resolution: 1.25dppx) {
	#zotero-prefpane-sync #sync-status-indicator[verified=true] { background-image: url("chrome://zotero/skin/tick@2x.png") }
	#zotero-prefpane-sync #sync-status-indicator[animated] { background-image: url("chrome://zotero/skin/arrow_rotate_animated@2x.png") }
}
