menupopup, panel, #search-mode-popup {
	--panel-padding-block: initial;
	--panel-border-color: initial;
	--panel-border-radius: 3px;
}

menupopup {
	menu {
		menupopup {
			margin-top: -4px;
		}
	}
}

:is(panel, menupopup)::part(content) {
	padding: 3px 0;
}
