.group-files-sync-container {
	height: 525px;

	.setting-downloadMode-box {
		margin-top: 0.5em;
		margin-bottom: 0.5em;
	}

	.group-footer {
		line-height: 2em;
	}

	.dialog-buttons {
		margin-top: 1em;
	}
}
