.virtualized-table {
	border: 1px solid ThreeDShadow;
}
.virtualized-table, .drag-image-container {
	.twisty {
		padding-inline-end: 3px;
		svg {
			width: 10px;
		}
	}
}
.virtualized-table-header {
	background-image: linear-gradient(-moz-field, -moz-dialog 120%);
	border-bottom: 1px solid ThreeDShadow;
	border-inline-end: 1px solid ThreeDShadow;

	.cell {
		&:hover {
			background: -moz-field;
		}

		&.dragging {
			background: -moz-dialog;
		}

		.resizer {
			background: linear-gradient(ThreeDShadow, ThreeDShadow) no-repeat center/1px 80%;
		}
		
		.sort-indicator {
			transform: scale(1.25);

			&.ascending {
				transform: scale(1.25) rotate(180deg);
			}
		}
	}
}

.twisty svg {
	fill: WindowText;
}
