#tb-new {
	list-style-image: url('chrome://scaffold/skin/new.png');
}

#tb-load {
	list-style-image: url('chrome://scaffold/skin/load.png');
}

#tb-save {
	list-style-image: url('chrome://scaffold/skin/save.png');
}

#tb-saveToZotero {
	list-style-image: url('chrome://scaffold/skin/saveToZotero.png');
}

#tb-template {
	list-style-image: url('chrome://scaffold/skin/add.png');
}

#tb-import {
	list-style-image: url('chrome://scaffold/skin/import.png');
}

#tb-export {
	list-style-image: url('chrome://scaffold/skin/export.png');
}

#tb-copy {
	list-style-image: url('chrome://scaffold/skin/copy.png');
}

#tb-detect {
	list-style-image: url('chrome://scaffold/skin/detectWeb.png');
}

#tb-do {
	list-style-image: url('chrome://scaffold/skin/doWeb.png');
}

#tb-setTranslatorsDir {
	list-style-image: url('chrome://scaffold/skin/setTranslatorsDir.png');
}

#tb-fields {
	list-style-image: url('chrome://scaffold/skin/fields.png');
}

#tb-template {
	list-style-image: url('chrome://scaffold/skin/add.png');
}

#metadata-grid {
	-moz-box-flex: 1;
	display: grid;
	align-content: start;
	align-items: center;
	grid-template-columns: max-content 1fr;
}

#metadata-grid > label:nth-child(2n + 1) {
	justify-self: right;
}

.button-row {
	display: grid;
	grid-template-columns: 1fr max-content;
}

#tabpanel-metadata input {
	height: 1.5em;
}

#hbox-testFrame {
	-moz-box-align: center;
}

#output {
	height:200px;
}

richlistbox {
	min-width:200px;
}

#zotero-toolbar {
	border-top: .5px solid darkgray;
	margin-bottom: 3px;
}

#zotero-toolbar.toolbar-scaffold-small {
	-moz-appearance: none !important;
	padding: 3px;
}

#zotero-toolbar.toolbar-scaffold-small .toolbarbutton-icon {
	max-width: 16px;
}

#zotero-toolbar toolbarseparator {
	height: 18px;
}

browser {
	background: white;
}

vbox > splitter {
	cursor: row-resize;
}

/* Adapted from Mozilla common-shared.css */
/* https://searchfox.org/mozilla-central/rev/2f5ed7b7244172d46f538051250b14fb4d8f1a5f/toolkit/themes/shared/in-content/common-shared.css */

select[size][multiple],
listheader,
richlistbox {
  appearance: none;
  margin-inline: 0;
  background-color: #fff;
  border: 1px solid #ccc;
}

listheader {
  padding-bottom: 1px;
}

treecol {
	appearance: none;
	border: none;
}

listheader + richlistbox {
  margin-top: 0;
  border-top: none;
}

select[size][multiple] > option,
treechildren::-moz-tree-row {
  padding: 0.3em;
  margin: 0;
  border: none;
  background-image: none;
}

richlistitem hbox {
	overflow: hidden;
}

richlistitem[selected] menulist:focus-visible {
  outline-offset: -2px;
}

richlistbox[disabled], toolbarbutton[disabled] {
	opacity: 0.6;
	pointer-events: none;
}

dialog richlistbox > richlistitem[disabled] {
	font-weight: 600;
}

#left-tabbox {
	margin-top: 5px;
}

#checkboxes-translatorType checkbox {
	margin-right: 10px;
	display: inline-block;
}

#tabpanel-metadata label:first-child {
	text-align: right;
}

#right-pane textarea {
	margin-right: 5px;
	margin-bottom: 5px;
}
