#zotero-collections-tree-container {
  border: none;
}

#zotero-collections-tree {
  .tree {
    background-color: #d2d8e2;
    
    .tree-node {
      height: 20px;
      
      &.focused:not(.highlighted) {
        background: -moz-linear-gradient(top, #6494D4, #2559AC) repeat-x;
        border-top: 1px solid #5382C5;
        font-weight: bold !important;
        color: #ffffff !important;
        height: 18px;
        padding-bottom: 1px;
      }
    }
    
    &:not(:focus) .tree-node.focused:not(.highlighted) {
      background: -moz-linear-gradient(top, #A0B0CF, #7386AB) repeat-x;
      border-top: 1px solid #94A1C0;
    }
    
    &:-moz-window-inactive {
      background-color: rgb(232, 232, 232);

      .tree-node.focused:not(.highlighted) {
        background: -moz-linear-gradient(top, #B4B4B4, #8A8A8A) repeat-x;
        border-top: 1px solid #979797;
      }
    }
  }
}

