.search input {
	-moz-appearance: searchfield;
	height: 24px;
}

.search .search-cancel-button {
	background-image: url(chrome://global/skin/icons/searchfield-cancel.svg);
	width: 14px;
	height: 14px;
	top: 6px;
}
