.search input {
	-moz-appearance: searchfield;
}

.search .search-cancel-button {
	background-image: url(resource://gre-resources/searchfield-cancel.svg);
	width: 14px;
	height: 14px;
	top: 10px;
	right: 8px;
}
