#tab-bar-container {
	--safe-area-start: 73px;
	--safe-area-end: 20px;
}

:root:is([sizemode=maximized], [sizemode=fullscreen]) {
	#tab-bar-container {
		--safe-area-start: 8px;
	}
}

#navigator-toolbox {
	border: 0;
}
