//
// Tag selector
// --------------------------------------------------

.tag-selector-filter-container {
  padding: 0.25em 0 0.25em 0.5em;
  border-top: 1px solid $shade-3;
}

.tag-selector-item {
	padding-bottom: .3em;
}

.tag-selector-actions {
  flex: none;
  border: 0;
  margin-right: 3px;
  padding: 1px 6px 0;
}
