.virtualized-table, .drag-image-container {
	.twisty {
		width: 19px;

		svg {
			fill: #888;
			width: 16px;
		}
	}

	.spacer-twisty {
		min-width: 19px;
	}
  
	.spacer-header {
		min-width: 6px;
	}
}

.virtualized-table-body, .drag-image-container{
	.cell:not(:first-child) {
		background-image: linear-gradient(#ddd, #ddd);
		background-size: 1px 80%;
		background-position: left;
		background-repeat: no-repeat;
		height: 100%;
	}
}
