.virtualized-table, .drag-image-container {
	.twisty {
		width: 19px;

		svg {
			fill: #888;
			width: 16px;
		}
	}

	.selected:not(.highlighted) .twisty svg {
		fill: #fff;
	}

	.spacer-twisty {
		min-width: 19px;
	}
  
	.spacer-header {
		min-width: 6px;
	}
}

.virtualized-table-body, .drag-image-container{
	.cell:not(:first-child) {
		border-inline-start: 1px solid #ddd;
		
		// A hack to make empty cells have a content, otherwise the border applied
		// above has a height of a few pixels in empty cells.
		&::after {
			content: " ";
			border-inline-start: 1px solid transparent;
		}
	}
}
