item-box {
	th {
		margin-top: 1px;
	}

	.zotero-clicky {
		min-height: 17px;
	}

	td input {
		margin: -2px 0 0;
		padding: 1px;
		border-width: 1px;
		border-radius: 6px;
	}
	
	.creator-name-box input {
		margin-bottom: -1px;
	}
}
