#citation-add {
	list-style-image: url('chrome://zotero/skin/citation-add.png');
}
#citation-add[disabled="true"] {
	list-style-image: url('chrome://zotero/skin/citation-add-gray.png');
}

#citation-delete {
	list-style-image: url('chrome://zotero/skin/citation-delete.png');
}
#citation-delete[disabled="true"] {
	list-style-image: url('chrome://zotero/skin/citation-delete-gray.png');
}

#item-locator {
	max-width:100px;
}