#scholar-pane
{
	background: #f5f5f5;
	min-height: 150px;
	padding: 4px;
}

#collections-pane
{
	min-width: 150px;
	width: 150px;
}

#collections-tree treechildren::-moz-tree-image
{
	margin-right: 5px;
}

#scholar-pane splitter
{
	background: #f5f5f5;
}

#items-tree treechildren::-moz-tree-image
{
	margin-right: 5px;
}

#items-pane
{
	min-width: 300px;
}

#item-pane
{
	width: 300px;
	min-width: 300px;
}

#scholar-pane toolbar
{
	border-bottom: none;
	background: #f5f5f5;
	height: 24px;
}

#scholar-pane toolbar toolbarbutton
{
	
}

#scholar-pane toolbar .toggler
{
	margin: 4px;
}

#scholar-toolbar-name
{
	font-size: larger;
}

#tb-collection-add
{
	list-style-image: url('chrome://scholar/skin/toolbar-collection-add.png');
}

#tb-collection-rename
{
	list-style-image: url('chrome://scholar/skin/toolbar-collection-edit.png');
}

#tb-collection-rename[disabled="true"]
{
	list-style-image: url('chrome://scholar/skin/toolbar-collection-edit-gray.png');
}

#tb-collection-menu
{
	list-style-image: url('chrome://scholar/skin/cog.png');
}

#tb-add
{
	list-style-image: url('chrome://scholar/skin/toolbar-item-add.png');
}

#tb-note-add
{
	list-style-image: url('chrome://scholar/skin/toolbar-note-add.png');
}

#tb-file-add
{
	list-style-image: url('chrome://scholar/skin/item-files-add.png');
}

#tb-item-files-file
{
	list-style-image: url('chrome://scholar/skin/treeitem-file-file.png');
}

#tb-item-files-link
{
	list-style-image: url('chrome://scholar/skin/treeitem-file-link.png');
}

#tb-item-files-snapshot
{
	list-style-image: url('chrome://scholar/skin/treeitem-file-snapshot.png');
}

#tb-item-files-web-link
{
	list-style-image: url('chrome://scholar/skin/treeitem-file-web-link.png');
}

#tb-fullscreen
{
	list-style-image: url('chrome://scholar/skin/toolbar-fullscreen-bottom.png');
}

#tb-fullscreen[scholartop="true"]
{
	list-style-image: url('chrome://scholar/skin/toolbar-fullscreen-top.png');
}

#tb-fullscreen[fullscreenmode="true"]
{
	background: #666666;
	-moz-border-radius: 6px;
}

#tb-search
{
	width: 150px;
}

#tb-collection-addsearch
{
	list-style-image: url('chrome://scholar/skin/treesource-search.png');
}

#tb-search-cancel
{
	margin: 0px;
	padding: 0px;
	cursor: default;
	list-style-image: url('chrome://scholar/skin/search-cancel.png');
}

#tb-search-cancel:hover:active
{
	list-style-image: url('chrome://scholar/skin/search-cancel-active.png');
}

#tb-openurl
{
	list-style-image: url('chrome://scholar/skin/toolbar-openurl.png');
}

#scholar-view-item vbox
{
	overflow: auto;
}

#editpane-dynamic-fields row > label:first-child
{
	text-align: right;
	font-weight: bold;
}

#scholar-view-item
{
	margin-left: 5px;
}

#scholar-splitter
{
	border-top: none;
	border-bottom: 1px solid #A3A3A3;
	min-height: 4px;
	max-height: 4px;
	background: #f5f5f5 !important;
}