vbox #scholar-pane
{
	background: #f5f5f5;
	min-height: 150px;
	padding: 4px;
}

tree #collections-tree
{
	min-width: 100px;
	max-width: 200px;
}

#scholar-tree-splitter
{
	background: #f5f5f5;
}

tree #items-tree
{

}

treechildren::-moz-tree-image
{
	
}

#scholar-pane toolbar
{
	border-bottom: none;
	background: #f5f5f5;
	height: 24px;
}

#scholar-pane toolbar toolbarbutton
{
	
}

#scholar-pane toolbar .toggler
{
	margin: 4px;
}

#tb-search
{
	width: 150px;
}

#scholar-splitter
{
	border-top: none;
	border-bottom: 1px solid #A3A3A3;
	min-height: 4px;
	max-height: 4px;
	background: #f5f5f5 !important;
}

#scholar-metadata
{
	overflow: auto;
}

#scholar-metadata .addremove
{	
	-moz-border-radius: 6px;
}

#scholar-metadata .addremove:hover
{
	color: white;
	background: #666666;
}