vbox #scholar-pane
{
	background: #f5f5f5;
	min-height: 150px;
	padding: 4px;
}

tree #folders-tree
{
	min-width: 100px;
	max-width: 200px;
}

#scholar-tree-splitter
{
	background: #f5f5f5;

}

tree #items-tree
{

}

#scholar-toolbar
{
	border-bottom: none;
	background: #f5f5f5;
}

#scholar-toolbar toolbarbutton
{
	
}

#scholar-toolbar .toggler
{
	margin: 4px;
}

#tb-search
{
	width: 150px;
}

#scholar-splitter
{
	border-top: none;
	border-bottom: 1px solid #A3A3A3;
	min-height: 4px;
	max-height: 4px;
	background: #f5f5f5 !important;
}

#scholar-floater
{
	position: fixed;
	bottom: 0px;
	right: 0px;
	margin-bottom: 30px;
	margin-right: 30px;
	
	font-size: 12px;
	width: 400px;
	max-width: 400px;
}

#scholar-floater vbox
{
	border: 1px solid #a5a5a5;
	background: #f5f5f5;
	
	width: 400px;
	max-width: 400px;
}

#scholar-metadata
{
}

#scholar-metadata toolbar
{
	border-bottom: none;
}

#scholar-notes
{
	height: 100px;
}