#scholar-toolbar-button
{
	list-style-image: url('chrome://scholar/skin/toolbar-large.png');
}

#scholar-toolbar-button:active
{
	list-style-image: url('chrome://scholar/skin/toolbar-large-active.png');
}

#scholar-toolbar-button[disabled="true"]
{
	list-style-image: url('chrome://scholar/skin/toolbar-large-disabled.png');
}

toolbar[iconsize="small"] #scholar-toolbar-button
{
	list-style-image: url('chrome://scholar/skin/toolbar-small.png');
}

toolbar[iconsize="small"] #scholar-toolbar-button:active
{
	list-style-image: url('chrome://scholar/skin/toolbar-small-active.png');
}

toolbar[iconsize="small"] #scholar-toolbar-button[disabled="true"]
{
	list-style-image: url('chrome://scholar/skin/toolbar-small-disabled.png');
}

#scholar-toolbar-button
{
	list-style-image: url('chrome://scholar/skin/toolbar-large.png');
}

toolbar[iconsize="small"] #scholar-toolbar-button
{
	list-style-image: url('chrome://scholar/skin/toolbar-small.png');
}

textbox[multiline="true"][type="timed"]
{
	-moz-binding: url('chrome://scholar/content/bindings/timedtextarea.xml#timed-textarea');
}

noteeditor
{
	-moz-binding: url('chrome://scholar/content/bindings/noteeditor.xml#note-editor');
}

linksbox
{
	-moz-binding: url('chrome://scholar/content/bindings/noteeditor.xml#links-box');
}

tagsbox
{
	-moz-binding: url('chrome://scholar/content/bindings/tagsbox.xml#tags-box');
}

seealsobox
{
	-moz-binding: url('chrome://scholar/content/bindings/relatedbox.xml#seealso-box');
}

.clicky
{	
	-moz-border-radius: 6px;
}

.clicky[value="-"]
{
	margin: 0px;
	padding-left: 4px;
	padding-right: 4px;
}

.clicky[value="+"]
{
	margin: 0px;
	padding-left: 4px;
	padding-right: 4px;
}

.clicky:hover
{
	color: white;
	background: #666666;
}

#scholar-progress-box
{
	border: 2px solid #7a0000;
	margin: 0;
	min-height: 50px;
	width: 250px;
	padding-bottom: 3px;
}

.scholar-progress-item-icon
{
	width: 16px;
	height: 16px;
}

.scholar-progress-item-hbox
{
	padding-left: 5px;
	margin-top: 3px;
	margin-bottom: 3px;
}

.scholar-progress-item-label
{
	width: 210px;
}

.scholar-progress-description
{
	width: 220px;
}

.scholar-scrape-popup-library
{
	list-style-image: url('chrome://scholar/skin/treesource-library.png');
}

.scholar-scrape-popup-collection
{
	list-style-image: url('chrome://scholar/skin/treesource-collection.png');
}