#view-toolbar
{
	background: #f5f5f5;
}

#view-toolbar .toggler
{
	margin: 4px;
}

#subs
{
	width: 400px;
}

.floater
{
	position: relative;
	margin-top: 10px;
	margin-right: 30px;
	
	padding: 5px;
	font-size: 12px;
	background: #f5f5f5;
	width: 400px;
}

#metadata
{

}

#notes
{
	height: 100px;
}

#metadata toolbar
{
	border-bottom: none;
}