#view-toolbar
{
	
}

#view-toolbar .toggler
{
	margin: 4px;
}

#subs
{
	width: 400px;
}

#metadata-pane
{
	position: relative;
	margin-top: 10px;
	left: 10px;
	width: 400px;
	height: 100px;
	overflow: auto;
	padding: 5px;
	font-size: 11px;
	background: #f5f5f5;
}

#notes-pane
{
	position: relative;
	margin-top: 10px;
	left: 10px;
	width: 400px;
	height: 100px;
	padding: 5px;
	font-size: 11px;
	background: #f5f5f5;
}