// skip React Button element
button:not(.btn, [type=checkbox], [type=radio]),
input:is([type=button], [type=submit]) {
	@include windows-form-element;

	padding: 4px 11px 6px 11px;
	margin-top: 2px;
}
