// skip React Button element
button:not(.btn, [type=checkbox], [type=radio]),
input:is([type=button], [type=submit]) {
	@include windows-form-element;

	padding: 4px 11px 6px 11px;
	margin-top: 2px;

	&[default] {
		color: var(--accent-white);

		&:not([disabled]) {
			--color-form-element-background: var(--color-accent);

			&:hover {
				--color-form-element-background: color-mix(in srgb, var(--color-accent) 90%, transparent);
			}

			&:active {
				--color-form-element-background: color-mix(in srgb, var(--color-accent) 80%, transparent);
			}

			@include focus-ring;
		}

		&[disabled] {
			@include light-dark(--color-form-element-background, var(--fill-tertiary), var(--fill-quaternary));
			--color-form-element-border: linear-gradient(transparent, transparent);
		}
	}
}
