#zotero-collections-tree .tree {
  &:not(:focus) .tree-node.focused:not(.highlighted) {
    color: inherit;
    background: $shade-2;
  }
  
  .tree-node {
    height: 1.666em;

    &.drop {
      background-color: highlight;
      color: highlighttext;
    }
  }
}

