#zotero-items-tree .virtualized-table {
	.row {
		padding-inline-end: 1px;
		&.selected {
			background-color: #e5f3ff;
			border: 1px solid #7bc3ff;
			color: inherit;
			padding-inline-start: 1px;
			padding-inline-end: 0;
		}
		&:hover {
			background-color: #e5f3ff;
		}
	}
}

#zotero-items-tree .virtualized-table:not(:focus) {
	.row {
		&.selected {
			color: inherit;
			background: #f0f0f0;
			border: none;
			padding-inline-start: 2px;
			padding-inline-end: 1px;
		}
		&.selected:hover {
			background-color: #e5f3ff;
			border: 1px solid #7bc3ff;
			padding-inline-start: 1px;
			padding-inline-end: 0;
		}
	}
}