.search input {
	height: 24px;
}

.search .search-cancel-button {
	background-image: url(chrome://global/skin/icons/Search-close.png);
	background-position: left 0 top 0;
	width: 12px;
	height: 12px;
	top: 4px;
}

.search .search-cancel-button:hover {
	background-position: left 32px top 0;
}

.search .search-cancel-button:hover:active {
	background-position: left 16px top 0;
}