.spacer-twisty {
	min-width: 16px;
}

.virtualized-table {
	&:not(:focus) .row.selected:not(.highlighted) {
		color: inherit;
		background: #f0f0f0;
	}

	.row {
		padding-inline-start: 2px;

		.twisty svg {
			fill: #b6b6b6;
			width: 16px;
		}

		.twisty.open svg {
			fill: #636363;
		}

		&:hover .twisty svg {
			fill: #4ed0f9;
		}

		&.drop {
			background-color: highlight;
			color: highlighttext;
		}
	}
}

.virtualized-table-header {
	height: 24px;
	background: #fff;

	.cell {
		&:hover {
			background: #d9ebf9;
		}
		&:active {
			background: #bcdcf4;
		}
		&.dragging {
			background: #d9ebf9 !important;
			color: #6d6d6d;
		}
	}
}
