body {
	line-height: 1.5em;
}

#quick-format-search:not([multiline="true"]) {
	height: 29px !important;
}

#quick-format-search {
	background: white;
	padding: 0 2px 0 0;
	border: 1px solid rgba(0, 0, 0, 0.5);
	-moz-appearance: textfield;
}

#quick-format-dialog {
	-moz-appearance: none;
	padding: 5px;
}

#zotero-icon {
	margin: 0 0 0 2px;
	-moz-appearance: none;
}
