body {
	line-height: 1.5em;
}

#quick-format-search:not([multiline="true"]) {
	height: 27px !important;
}

#quick-format-search {
	background: white;
	padding: 1px 2px 1px 0;
	border: 1px solid rgba(0, 0, 0, 0.5);
	-moz-appearance: textbox;
}

#quick-format-dialog {
	-moz-appearance: none;
	padding: 5px;
}

#zotero-icon {
	margin: 3px 0 0 2px;
	-moz-appearance: none;
}