@media (min-resolution: 1.25dppx) {
	#zotero-pane-stack .toolbarbutton-icon {
		width: 16px;
	}
	
	#zotero-tb-sync > .toolbarbutton-icon {
		width: 20px;
	}
}

@media (prefers-color-scheme: dark) {
#zotero-tb, #zotero-toolbar, #navigator-toolbox, #tab-bar-container, .tabs, .tab {
	background: #353535 !important;
	color: #FFFFFF !important;
	border-bottom: 0;
}
.tab { background: #242424 !important; }
.tab:hover { background: #434343 !important; }
.tab.selected { background: #353535 !important; }
.tab.selected:hover { background: #353535 !important; } }

.zotero-tb-button[type="menu"] > .toolbarbutton-menu-dropmarker {
	-moz-default-appearance: toolbarbutton-dropdown;	
	margin-left: 4px;
}

.zotero-tb-button:not([type=menu]) {
	margin-right: 4px;
}

#zotero-pane[dir=rtl] .zotero-tb-button > .toolbarbutton-icon {
	transform: scaleX(-1);
}

/* Fixes tabs missing styling on (GTK 3.20) Ubuntu 16.10. See https://bugzilla.mozilla.org/show_bug.cgi?id=1306425 */
tabpanels {
	-moz-appearance: none;
	border: 1px solid hsla(0, 0%, 0%, 0.2);
	
}
tab {
	-moz-appearance: none;
	border-top: 1px solid hsla(0, 0%, 0%, 0.2);
	border-right: 1px solid hsla(0, 0%, 0%, 0.2);
	border-left: 1px solid hsla(0, 0%, 0%, 0.2);
}
/* Fixes misc Ubuntu 16.10 rendering issue fixes. */
#zotero-prefs menulist dropmarker{
	width: 30px;
}
#zotero-prefs .numberbox-input-box{
	-moz-appearance: textfield;
}

#zotero-pane splitter {
	border: 0;
	width: 6px;
	background-color: transparent;
	background-image: none;
}

#zotero-context-splitter-stacked {
	-moz-appearance: none;
	background-color: #ececec;
	border-top: 1px solid hsla(0, 0%, 0%, 0.2);
}
