/*
 As of Fx36, the built-in styles don't properly handle a menu-button within combined buttons.
*/
#zotero-toolbar-main-button-single[cui-areatype="toolbar"] .toolbarbutton-icon,
#zotero-toolbar-save-button-single[cui-areatype="toolbar"] .toolbarbutton-icon {
	width: 32px;
}

#zotero-toolbar-main-button[cui-areatype="toolbar"] .toolbarbutton-icon,
#zotero-toolbar-save-button[cui-areatype="toolbar"] .toolbarbutton-icon {
	width: 28px;
}

#zotero-toolbar-buttons[cui-areatype="toolbar"]:not([overflowedItem=true]) #zotero-toolbar-main-button {
	margin-right: -1px;
}

#zotero-toolbar-main-button[cui-areatype="toolbar"] .toolbarbutton-icon {
	margin-left: 2px;
	margin-right: -3px;
	padding-left: 5px !important;
	padding-right: 5px !important;
}

#zotero-toolbar-save-button[cui-areatype="toolbar"] .toolbarbutton-icon {
	width: 30px !important;
}

#zotero-toolbar-save-button[cui-areatype="toolbar"] > .toolbarbutton-menubutton-button {
	padding-left: 0;
}

#zotero-toolbar-save-button[cui-areatype="toolbar"] > .toolbarbutton-menubutton-button .toolbarbutton-icon {
	padding-left: 6px !important;
	padding-right: 6px !important;
}

#zotero-toolbar-save-button[cui-areatype="toolbar"] > .toolbarbutton-menubutton-dropmarker {
	margin-top: 6px;
	margin-bottom: 6px;
}

#zotero-toolbar-save-button[cui-areatype="toolbar"]:hover > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon,
#zotero-toolbar-save-button[cui-areatype="toolbar"][open] > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon {
	margin-top: 0;
	margin-bottom: 0;
}

#zotero-toolbar-buttons[cui-areatype="toolbar"]:not([overflowedItem=true]) #zotero-toolbar-save-button > .toolbarbutton-menubutton-dropmarker .dropmarker-icon {
	padding-left: 14px !important;
	padding-right: 3px !important;
}

#zotero-toolbar-save-button-single[cui-areatype="toolbar"] > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon {
	margin-top: 3px;
	margin-bottom: 3px;
}

#zotero-toolbar-buttons[cui-areatype="toolbar"] > separator {
	/* Copied from .toolbarbutton-menubutton-dropmarker::before */
	display: -moz-box;
	width: 1px;
	height: 18px;
	-moz-margin-end: -1px;
	background-image: var(--toolbarbutton-combined-backgroundimage);
	background-clip: padding-box;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 1px 18px;
	box-shadow: var(--toolbarbutton-combined-boxshadow);
}

#zotero-toolbar-buttons[cui-areatype="toolbar"]:not([overflowedItem=true]):hover > #zotero-toolbar-main-button .toolbarbutton-icon,
#zotero-toolbar-buttons[cui-areatype="toolbar"]:not([overflowedItem=true]):hover > #zotero-toolbar-save-button .toolbarbutton-icon,
#zotero-toolbar-buttons[cui-areatype="toolbar"]:not([overflowedItem=true]):hover > #zotero-toolbar-save-button .dropmarker-icon {
	border-color: var(--toolbarbutton-hover-bordercolor) !important;
}

#zotero-toolbar-buttons[cui-areatype="toolbar"]:not([overflowedItem=true]) > #zotero-toolbar-save-button:hover:not(:active) > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
#zotero-toolbar-buttons[cui-areatype="toolbar"]:not([overflowedItem=true]) > #zotero-toolbar-save-button:hover > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon {
	background: inherit;
}

#zotero-toolbar-buttons[cui-areatype="toolbar"]:not([overflowedItem=true]) > #zotero-toolbar-save-button > .toolbarbutton-menubutton-button:hover:not(:active) > .toolbarbutton-icon,
/* This selector doesn't work, so the dropmarker doesn't get a hover effect. :hover doesn't seem
 to have an effect on either part of the dropmarker */
#zotero-toolbar-buttons[cui-areatype="toolbar"]:not([overflowedItem=true]) > #zotero-toolbar-save-button > .toolbarbutton-menubutton-dropmarker:hover > .dropmarker-icon {
	background: var(--toolbarbutton-hover-background) !important;
}

#zotero-toolbar-buttons[cui-areatype="toolbar"]:not([overflowedItem=true]) > #zotero-toolbar-save-button:hover:active:not([open]):not([disabled]) .toolbarbutton-menubutton-button .toolbarbutton-icon,
#zotero-toolbar-buttons[cui-areatype="toolbar"]:not([overflowedItem=true]) > #zotero-toolbar-save-button:hover[open]:not([disabled]) .toolbarbutton-menubutton-dropmarker .dropmarker-icon {
	background: var(--toolbarbutton-active-background);
	border-color: var(--toolbarbutton-active-bordercolor);
	box-shadow: var(--toolbarbutton-active-boxshadow);
	transition-duration: 10ms;
}

/* Alterations for overflow panel */
#zotero-toolbar-main-button-single[overflowedItem=true] .toolbarbutton-icon,
#zotero-toolbar-save-button-single[overflowedItem=true] .toolbarbutton-icon {
	width: 16px;
}

#zotero-toolbar-buttons[overflowedItem=true] {
	margin-left: 0px !important;
	margin-bottom: 0px !important;
	margin-right: 0 !important;
}

#zotero-toolbar-buttons[overflowedItem=true] #zotero-toolbar-main-button {
	padding-left: 0;
	padding-right: 5px;
}

#zotero-toolbar-buttons[overflowedItem=true] #zotero-toolbar-main-button .toolbarbutton-icon {
	width: 26px;
}

#zotero-toolbar-buttons[overflowedItem=true] #zotero-toolbar-save-button .toolbarbutton-icon {
	margin-left: 1px;
	padding-right: 0 !important;
	width: 22px !important;
}

#zotero-toolbar-buttons[overflowedItem=true] #zotero-toolbar-save-button .toolbarbutton-menubutton-button {
	margin-left: 0;
}

#zotero-toolbar-buttons[overflowedItem=true] #zotero-toolbar-save-button .toolbarbutton-menubutton-dropmarker {
	margin: 0;
	margin-right: 2px !important;
	padding-right: 5px;
}

#zotero-toolbar-buttons[overflowedItem=true] > separator {
	display: none;
}
/* End toolbar buttons */


@media (min-resolution: 1.5dppx) {
	#zotero-toolbar .toolbarbutton-icon {
		width: 16px;
	}
	
	#zotero-tb-sync > .toolbarbutton-icon {
		width: 20px;
	}
}

.zotero-tb-button:not([type=menu]) {
	margin-right: 4px;
}

#zotero-tb-search-menu-button {
	-moz-appearance: toolbarbutton-dropdown !important;
	width: 12px;
	height: 12px;
}

#zotero-tb-search-menu-button .button-menu-dropmarker {
	display: none;
}

#zotero-tb-search .textbox-search-icon {
	visibility: hidden;
}