#wordProcessors > label:not(:first-child) {
	margin-top: 10px;
}

#wordProcessorInstallers {
	margin-block: 0.5em;
}

#wordProcessorInstallers > groupbox > label > h2 {
	/* Override spacing added between groupboxes */
	margin-top: 0.5em !important;
}

#styleManager
{
	height: 250px;
	max-height: 250px;
}

#styleManager-updated
{
	width: 105px;
}

/* Get additional styles link should occupy only as much space as needed */
#styleManager-buttons .zotero-text-link {
	max-width: fit-content;
	margin-right: auto;
}

#openCSLEdit {
	margin-inline-end: 6px;
}

#add-from-file-button {
	margin-inline-start: 6px;
	margin-inline-end: auto;
}

#styleManager {
	.virtualized-table {
		.row {
			// transparent border so that when .selected adds the border below, nothing shifts 
			border: 1px solid transparent;
			&.odd {
				background-color: var(--material-stripe);
			}
			&.even {
				background-color: var(--material-background);
			}
		}
		// Override styling of selected rows to not look different from other rows
		.row.selected {
			color: var(--fill-primary);
			// Override white background-color above
			.icon-action {
				.icon {
					fill: var(--fill-secondary) !important;
				}
				&:hover:not([disabled]) {
					background-color: var(--fill-quinary);
				}
				&:active:not([disabled]) {
					background-color: var(--fill-quarternary);
				}
			}
		}
	}
	.virtualized-table:focus-visible {
		.row.selected {
			// add dotted border during keyboard navigation.
			// use border vs outline, since outline sometimes gets cut off
			border: var(--default-focusring-width) dotted var(--color-accent);
		}
	}
}
