#zotero-prefpane-export separator:not(.thin)
{
	height: 1em;
}

#quickCopy-instructions, #quickCopy-citationInstructions {
	font-size: 12px;
}

#zotero-prefpane-export .virtualized-table-container {
	height: 120px;
}

#zotero-quickCopy-format
{
	min-height: 1.5em; /* Fix collapse on Windows */
}

#quickCopy-delete {
	margin-inline-end: 6px;
}

#noteQuickCopy-wrapper {
	margin-left: 30px;
	@media (-moz-platform: windows) {
		margin-left: 45px;
	}
	@media (-moz-platform: linux) {
		margin-left: 25px;
	}
}

#noteQuickCopy-markdown-options > label,
#noteQuickCopy-html-options > label{
	margin-inline-end: 8px;
}

#noteQuickCopy-format-options hbox {
	justify-content: end;
	width: 100%;
}
