#zotero-prefpane-export separator:not(.thin)
{
	height: 1em;
}

#quickCopy-instructions, #quickCopy-citationInstructions {
	font-size: 12px;
}

#zotero-prefpane-export .virtualized-table-container {
	height: 120px;
}

#zotero-quickCopy-format
{
	min-height: 1.5em; /* Fix collapse on Windows */
}

#noteQuickCopy-wrapper {
	justify-content: center;
}

#noteQuickCopy-format-options hbox {
	justify-content: end;
	width: 100%;
}
