#zotero-advanced-search-dialog {
	min-height: 500px;
	min-width: 700px;
	
	#zotero-search-box-container {
		max-height: 100vh;
	}
	
	#zotero-search-box-controls {
		padding: 3px;
	}
	
	#zotero-search-buttons {
		margin: 3px 0;

		button {
			margin-inline-start: 6px;
		}
	}
}
