#post-upgrade-banner, #retracted-items-banner, #sync-reminder-banner, #architecture-warning-banner {
	@include macOS-normalize-controls;

	display: flex;
	justify-content: center;
	text-align: center;
	position: relative;
	white-space: nowrap;
	overflow: hidden;

	label[is="text-link"], .link {
		color: inherit;
		border: none;
		margin: 0;
	}
}

#post-upgrade-container {
	background: var(--material-background);
}

#post-upgrade-banner {
	background: var(--accent-blue30);
	color: var(--fill-primary);
	flex-wrap: wrap;
	gap: 8px;
	padding: 6px 8px;

	.link {
		color: var(--accent-blue);
		text-decoration: underline;
		cursor: pointer;
	}
	
	#post-upgrade-centered {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		gap: 8px;
		flex: 1 auto;

		#post-upgrade-density {
			@media (-moz-platform: windows) {
				radio {
					height: 24px;
					margin: 0;
				}
			}
		}
	}
	
	#post-upgrade-new-features-link {
		font-weight: bold;
	}
	
	#post-upgrade-buttons {
		display: flex;
		flex-wrap: wrap;
		gap: 8px;
		margin-inline-start: auto;

		@media (-moz-platform: windows) {
			button {
				height: 24px;
				margin: 0 !important;
			}
		}
	}
}

#retracted-items-banner, #sync-reminder-banner, #architecture-warning-banner {
	line-height: 2.2em;
	font-size: 13.5px;
	padding: 0 2em;
	font-weight: 600;

	.message {
		margin-inline-end: .8em;
	}

	.spacer {
		flex: 1;
	}

	.close-link {
		text-decoration: none;
		position: absolute;
		cursor: pointer;
		top: -2px;
		inset-inline-end: 9px;
		font-size: 22px;
	}
}

#retracted-items-banner {
	background: #d93425;
	color: white;

	label[is="text-link"] {
		margin-inline-start: 0.3em;
		
		&:active {
			color: #f9e8e2;
		}
	}
}

#sync-reminder-banner {
	background: rgb(255, 234, 80);
	border-bottom: #a9a9a9 .5px solid;
	color: black;

	.link {
		padding-inline: 0.5em;
		
		&:active {
			color: #4b4b4b;
		}
	}
}

#architecture-warning-container {
	background-color: var(--accent-red);
	color: white;

	.message {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	a {
		border: none;
		color: inherit;
		margin: 0;
		padding: 0 .5em;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}
