#zotero-citation-explorer-dialog {
	min-height: 500px;

	dialog {
		max-height: 100vh;
		background: var(--material-sidepane);
	}

	search-textbox, input, button {
		margin: 0;
	}

	
	.citation-explorer-grid {
		display: grid;
		grid-template-columns: 4fr 6fr;
		grid-template-rows: auto auto minmax(0, 1fr) auto;
		height: 100%;
		margin: -8px;
		
		.citation-explorer-grid-left {
			border-right: solid 1px ThreeDShadow;
		}

		.grid-padded-section {
			padding: 8px 16px;
		}
	}

	.tabbox-container, #citations-label {
		padding-top: 16px !important;
	}

	#citations-label {
		align-content: center;
	}

	.tabbox-container {
		display: flex;
	}
	
	.virtualized-table-container {
		height: 100%;
		border-block: 1px solid ThreeDShadow;
	}

	.virtualized-table:focus-within .row.highlighted:not(.selected) {
		background: initial !important;
	}

	.button-container {
		border-bottom: 1px solid ThreeDShadow;
		display: flex;
	}
	
	@media (-moz-platform: macos) {
		.citation-explorer-grid {
			margin: -16px;
		}

		.button-container {
			padding-bottom: 0px;
			margin-bottom: -16px;
		}
		
		tabbox {
			flex: 1;
			flex-direction: row;
			
			tabs {
				flex: 1;
				margin-bottom: 0;
				
				tab {
					flex: 1;

					&[visuallyselected="true"]:not(:-moz-window-inactive) {
						color: initial !important;
					}
					label.tab-text {
						flex-direction: column;
						align-items: center;
					}
				}
				
				spacer.tabs-right {
					flex: 0;
				}
			}
		}
	}

	@media (-moz-platform: windows) {
		tabbox tabs {
			border-bottom: none;
			tab {
				margin-bottom: 0;
			}
		}
	}
}
