#zotero-collections-tree-container {
  display: flex;
  height: 5.2em;
  background-color: $shade-0;
}

#zotero-collections-tree {
  display: flex;
  flex-direction: column;
  width: 100%;
  
  .tree {
    overflow-y: auto;
    flex: 1 0;
    text-overflow: ellipsis;
  }
  
  .tree-node {
    display: flex;
    height: 20px;
    width: 100%;
    align-items: center;
    
    &.focused:not(.highlighted) {
      background-color: highlight;
      color: highlighttext;
    }
    
    &.highlighted {
      background: #FFFF99;
    }
    
    &.drop {
      color: $shade-0 !important;
      background: $shade-5 !important;
    }
    
    &.unread {
      font-weight: bold;
    }
  }
  
  span.tree-node-label {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  input.tree-node-label {
    border: 1px highlight solid;
    padding: 1px 2px;
    margin-right: 5px;
    width: 100%;
    font-size: inherit;
  }
  
  .icon {
    margin-right: 6px;
    padding-top: 1px;
  }
}