#tabs-deck {
	min-width: $min-width-tabs-deck;
	flex-grow: 1;
	flex-shrink: 1;

	& > :not(.deck-selected) {
		// Hide all sub-trees that are in the invisible tab deck
		// to avoid the invisible tab decks' -moz-window-dragging to be triggered.
		// Do not use display: none to avoid reflowing the layout.
		-moz-subtree-hidden-only-visually: 1;
	}
}

#zotero-context-pane {
	display: flex;
	flex-grow: 0;
	flex-shrink: 1;
	min-width: $min-width-context-pane + $width-sidenav;

	.divider {
		border-bottom: 1px solid var(--fill-quinary);
		margin: 0 8px;
	}

	&.stacked {
		position: fixed;
		right: 0;
		top: 0;
		bottom: 0;
		font-size: 0;
		pointer-events: none;
	}

	&.stacked-context-placeholder {
		min-height: 300px;
	}
	&.standard .stacked-context-placeholder {
		display: none;
	}
}

#zotero-context-splitter-stacked {
	pointer-events: auto;
}

#zotero-context-pane-inner {
	font: message-box;
	font-size: inherit;
	min-width: $min-width-context-pane;
	min-height: $min-width-context-pane;
	height: 0;
	pointer-events: auto;
	background: var(--material-sidepane);
	flex-direction: column;
	
	&[collapsed=true] {
		height: 0 !important;
	}
}

.zotero-context-panes-deck {
	width: 100%;
	display: block;
}

.zotero-context-panes-deck > deck {
	height: 100%;
}

.zotero-view-item-container {
	height: 100%;
}

#zotero-item-toolbar {
	height: 32px;
}

.zotero-context-note-container {
	background-color: var(--material-sidepane);
}

.zotero-context-pane-editor-parent-line {
	height: 40px;
	background: var(--material-toolbar);

	& .parent-title-container {
		display: flex;
		align-items: center;
		padding: 6px 8px;
	}

	& .parent-item-type {
		margin-inline-end: 3px;
		width: 16px;
	}

	& .parent-title {
		flex-grow: 1;
		width: 0;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		margin-left: 8px;
	}
}

.zotero-tb-note-return {
	@include svgicon-menu("chevron", "universal", "20");
	rotate: 90deg;
	padding: 4px;
	width: 28px;
	height: 28px;
}

#zotero-context-pane[collapsed=true] .notes-list-container,
#zotero-context-pane-inner[collapsed=true] .notes-list-container,
#zotero-context-pane[collapsed=true] .zotero-view-item > tabpanel > *,
#zotero-context-pane-inner[collapsed=true] .zotero-view-item > tabpanel > * {
	overflow: unset !important;
}
