.create-parent-container {
	.title {
		font-size: 1.4em;
		font-weight: 700;
	}

	.body {
		margin: 1em 0;
		position: relative;
		display: flex;

		input {
			flex: 1;
			font-size: 14px;
		}
		
		.downloadProgress {
			position: absolute;
			top: 50%;
			left: 0;
			right: -1em;
			transform: translateY(-100%);
			
			&.hidden {
				display: none;
			}
			
			.progress-bar {
				width: 100%;
				height: 100%;
				opacity: 0.5;
			}
		}
	}
}
