.create-parent-container {
	.title {
		font-size: 1.4em;
		font-weight: 700;
		// Let the dialog get a little wider if the title is long
		max-width: 550px;
	}
	
	.intro {
		// Text is added asynchonously, so set a height for dialog auto-sizing
		min-height: 1em;
		margin-bottom: .5em;
	}
	
	.body {
		position: relative;
		display: flex;
		margin-bottom: 1em;

		input {
			flex: 1;
			font-size: 14px;
			margin-left: 0;
		}
		
		.downloadProgress {
			position: absolute;
			top: 50%;
			left: 0;
			right: -1em;
			transform: translateY(-100%);
			
			&.hidden {
				display: none;
			}
			
			.progress-bar {
				width: 100%;
				height: 100%;
				opacity: 0.5;
			}
		}
	}
}
