.diff-table-field {
	display: flex;
	padding-bottom: 2px;

	&:hover {
		opacity: 0.7;

		&.readonly {
			opacity: 1;
		}
	}

	.name {
		font-weight: bold;
		width: 120px;
		text-align: right;
		flex-shrink: 0;
		padding-right: 5px;
		white-space: nowrap;
		overflow-x: hidden;
		text-overflow: ellipsis;
	}

	.value {
		-moz-user-select: text;

		.removed {
			background-color: #ff8989;
			text-decoration: line-through;
		}

		.added {
			background-color: #a9edae;
		}
	}

	&.readonly {
		.value {
			.removed {
				background-color: #ff8989;
				opacity: 0.4;
			}

			.added {
				background-color: rgba(169, 237, 174, 0.6);
			}
		}
	}

	&.disabled {
		.value {
			.removed {
				background-color: #d0d0d0;
			}

			.added {
				background-color: #eeeeee;
			}
		}
	}
}

.diff-table {
	background-color: $diff-table-bg;
	color: $diff-table-color;
	min-width: 0;
	border: 1px solid gray;
	cursor: default;
	user-select: none;

	.body {
		height: 400px;
		overflow-y: auto;
		overflow-x: hidden;
		padding: 5px;

		.row {
			padding: 3px 0;

			.header {
				display: flex;

				.icon {
					width: 30px;
					text-align: center;
					flex-shrink: 0;

					&.icon-arrowrotateanimated img {
						width: 22px;
					}
				}

				.title {
					position: relative;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;

					&:hover {
						text-decoration: underline;
					}
				}
			}

			.message {
				padding-left: 30px;
				font-size: 0.9em;
			}

			.fields {
				font-size: 0.9em;
				margin-top: 4px;
				margin-bottom: 5px;
			}

			.footer {
				margin-left: 30px;
				display: flex;

				.spacer {
					flex: 1;
				}
			}

			.separator {
				width: 100%;
				border-top: 1px solid $separator-color;
				margin: 6px auto;
			}

			&:last-child {
				.separator {
					display: none;
				}
			}
		}
	}
}
