
.diff-table-field {
	display: flex;
	padding-bottom: 2px;

	&:hover {
		opacity: 0.7;
	}

	.name {
		font-weight: bold;
		width: 120px;
		text-align: right;
		flex-shrink: 0;
		padding-right: 5px;
		white-space: nowrap;
		overflow-x: hidden;
		text-overflow: ellipsis;
	}

	.value {
		.removed {
			background-color: #d0d0d0;
			text-decoration: line-through;
		}

		.added {
			background-color: #eeeeee;
		}
	}


	&.accepted {
		.value {
			color: initial;

			.removed {
				background-color: #ff8989;
				text-decoration: line-through;
			}

			.added {
				background-color: #a9edae;
			}
		}
	}
}

.diff-table {
	background-color: $diff-table-bg;
	color: $diff-table-color;
	min-width: 0;
	border: 1px solid gray;
	cursor: default;
	user-select: none;

	.body {
		height: 400px;
		overflow-y: auto;
		overflow-x: hidden;
		padding: 5px;

		.row {
			padding: 3px 0;

			.header {
				display: flex;

				.icon {
					width: 30px;
					text-align: center;
					flex-shrink: 0;
				}

				.title {
					position: relative;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
			}

			.message {
				font-size: 80%;
				padding-left: 30px;
			}

			.fields {
				font-size: 80%;
			}

			.footer {
				text-align: right;
				padding: 5px 0 10px;
			}

		}
	}
}
