#zotero-export-options {
	#export-option-includeAnnotations {
		margin-top: 2px;
		margin-left: 17px;
	}
	
	checkbox[disabled=true] label {
		opacity: .5;
	}

	/* Override rules from Mozilla checkbox.css that make text almost unreadable when disabled
	   when combined with our opacity: .5 */
	checkbox[native][disabled="true"] {
		color: unset;
	}
	
	#warning-cannot-import, #warning-backup {
		max-width: 300px;
		white-space: wrap;
	}
	
	#warning-cannot-import {
		color: var(--fill-secondary);
		padding-inline-start: 8px;
		padding-bottom: 2px;
	}
	
	#warning-backup {
		color: var(--accent-red);
		
		.zotero-text-link {
			margin: 0;
		}
	}
}
