#file-renaming-settings-dialog {
	padding: 14px 24px 24px;

	> groupbox {
		display: flex;
		flex-direction: column;
		flex: 1;
	}

	#library-picker-row {
		margin-bottom: 1em;
		gap: 0.5em;
	}

	#library-picker-row > label {
		font-size: 15px;
		font-weight: 600;
	}

	#library-picker {
		width: 14em;
		margin-inline-start: .25em;
		font-size: 15px;
		height: 1.6em;
	}

	#file-renaming-deck {
		overflow: hidden;
	}

	#preview-panel {
		display: flex;
		flex-direction: column;
	}

	#preview-intro {
		margin-block: 0 0.5em;
	}

	.virtualized-table-container {
		flex: 1 1 auto;
		display: flex;
		overflow: hidden;
		border: var(--material-panedivider);

		.virtualized-table-wrapper {
			width: 100%;
		}

		.virtualized-table-loading {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;

			&[hidden] {
				display: none;
			}
		}

		.virtualized-table {
			overflow: hidden;

			.row {
				&.new:not(.selected) {
					color: var(--fill-primary);
				}

				&.old:not(.selected) {
					color: var(--fill-secondary);
				}
			}
		}
	}

	progress.hidden {
		display: none;
	}

	#file-renaming-buttons {
		justify-content: flex-end;
		gap: 0.5em;
		margin-top: auto;
		padding-top: 0.5em;
	}
}
