#file-renaming-settings-dialog {
	padding: 14px 24px 24px;

	> groupbox {
		display: flex;
		flex-direction: column;
		flex: 1;
	}

	#library-picker-row {
		margin-bottom: 1em;
		gap: 0.5em;
	}

	#library-picker-row > label {
		font-size: 15px;
		font-weight: 600;
	}

	#library-picker {
		width: 14em;
		margin-inline-start: .25em;
		font-size: 15px;
		height: 1.6em;
	}

	#file-renaming-buttons {
		justify-content: flex-end;
		gap: 0.5em;
		margin-top: auto;
		padding-top: 0.5em;
	}
}
