#zotero-items-pane {
	min-width: 290px;
	min-height: 150px;
	height: 150px;
	width: 290px;
}

#zotero-items-tree {
	.virtualized-table-header .icon {
		width: 13px;
		height: 13px;
	}
	
	.cell.primary {
		.retracted {
			width: 12px;
			margin-inline-start: 3px;
		}
		
		.tag-swatch {
			display: inline-block;
			min-width: .728em;
			min-height: .728em;
			margin-inline-start: 3px;
			border-radius: .15em;
		}
	}
	
	.cell.hasAttachment {
		box-sizing: content-box;
		padding: 0 4px;
		height: 100%;
		// Don't show ellipsis
		text-overflow: unset;
		
		.icon-treeitemattachmentpdf {
			min-width: 10px;
			max-width: 10px;
			margin: 3px;
		}
		
		.icon-link {
			min-width: 14px;
			max-width: 14px;
			margin: 2px 1px;
		}
		
		.icon-missing-file {
			opacity: 0.4;
		}
	}
	
	.cell.numNotes, .cell.numCollection {
		text-align: center;
	}

	.cell[title] {
		pointer-events: auto;
	}
}
