:is(panel):not(#autoscroller)::part(content) {
	--panel-background: var(--material-toolbar);
}

#main-window {
	min-width: max(var(--width-of-fixed-components) + $min-width-items-pane, $min-width-tabs-deck);
	min-height: 300px;
}

#main-window.stacked {
	min-height: calc(var(--height-of-fixed-components) + $min-height-items-pane + $height-toolbar);
}

#zotero-pane {
	min-width: 0;
	min-height: 0;
}

#zotero-pane-stack > hbox {
	// Let window chrome, tabs, and toolbar shrink even when sidebars overflow
	min-width: 0;
}
#browser, #zotero-pane-stack, #zotero-trees {
	min-height: 0;
}
