.publications-dialog-wizard {
	font-size: 12px;

	div {
		display: block;
	}

	h2 {
		margin: 1em 0 0;
		padding: 0;
		font-size: 13px;
		font-weight: normal;
	}

	h2 + radiogroup {
		margin-top: 0;
	}

	p.description {
		display: block;
		margin: 1em 0;
	}

	checkbox {
		margin-left: 4px; // indent required for correct focus ring rendering
	}

	radiogroup {
		font-size: 12px;
		margin-top: 1em;

		radio:first-child {
			margin-top: 9px;
		}
	}

	wizardpage {
		display: flex;
		flex-direction: column;
	}

	#include-files,
	#include-notes {
		margin-top: 5px;
	}
}