#rename-files-preview-content {
	padding: 14px 24px 24px;
	flex: 1;

	.virtualized-table-container {
		flex: 1 1 auto;
		display: flex;
		overflow: hidden;
		border: var(--material-panedivider);

		.virtualized-table-wrapper {
			width: 100%;
		}

		.virtualized-table-loading {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;

			&[hidden] {
				display: none;
			}
		}

		.virtualized-table {
			overflow: hidden;

			.row {
				&.new:not(.selected) {
					color: var(--fill-primary);
				}

				&.old:not(.selected) {
					color: var(--fill-secondary);
				}
			}
		}
	}

	#preview-intro {
		margin-block: 0 0.5em;
	}

	progress.hidden {
		display: none;
	}

	#preview-buttons {
		justify-content: flex-end;
		gap: 0.5em;
		margin-top: 0.5em;
	}
}
