richlistbox.theme-listbox {
    background: var(--material-background);
    border: var(--material-panedivider);

    richlistitem {
        --listitem-selectedBackground: var(--tag-gray);
        --listitem-selectedFocusCurrentBackground: var(--color-accent);
        --listitem-selectedTextColor: var(--fill-primary);
        --listitem-selectedBorder: transparent;
        --listitem-selectedBottomBorder: transparent;
        --listitem-selectedCurrentBorder: transparent;
        --listitem-selectedFocusBorder: transparent;
        --listitem-selectedFocusBottomBorder: transparent;
        --listitem-selectedFocusCurrentBorder: transparent;
        --listitem-selectedFocusBackground: var(--color-accent);
        --listitem-selectedFocusColor: var(--fill-primary);
        --listitem-selectedColor: var(--fill-primary);
        --listitem-selectedFocusCurrentBottomBorder: transparent;
    }
}
