richlistbox {
    background: var(--material-background);
    border: var(--material-panedivider);

    richlistitem {
        color: var(--fill-primary);

        &[selected=true] {
            background: var(--color-accent);
        }
    }
}
