.storage-breakdown {

	.title {
		font-size: 1.2em;
	}

	.downloadProgress {
		&.hidden {
			display: none;
		}

		.progress-bar {
			width: 100%;
			height: 100%;
			opacity: 0.5;
		}
	}

	.partitions {
		margin-top: 2em;
		width: 300px;
		position: relative;
		height: 30px;
		border: solid 1px gray;
	}

	.partition {
		display: inline-block;
		position: absolute;
		height: 30px;
		top: 0;

		&.p0 {
			background-color: $blue;
		}

		&.p1 {
			background-color: $red;
		}

		.tooltip-container {
			position: relative;
			width: 100%;
			height: 100%;

			.tooltip {
				position: absolute;
				opacity: 0;
				border-radius: 4px;
				padding: 0.4em;
				background-color: #1f1f1f;
				color: white;
				top: calc(100% - 5px);
				left: 50%;
				transform: translateX(-50%);
				white-space: nowrap;
				z-index: 10;
			}

			&:hover {
				.tooltip {
					opacity: 1;
					transition: opacity 0.5s ease-in-out 0.5s;
				}
			}
		}
	}
}
