#tab-bar-container {
	min-height: 30px;
}

.tabs {
	display: flex;
}

.tabs-holder {
	display: flex;
}

.tab {
	-moz-appearance: none;
	max-width: 200px;
	flex: 1;
	height: 30px;
	line-height: 30px;
	position: relative;
	background: #f9f9f9;
	border-top: 2px solid transparent;
	color: #000;
	text-align: center;
	padding: 0 30px;
	
	&:not(:last-child) {
		border-right: $tab-border;
	}
	
	&.selected {
		border-top: 2px solid $tab-background-color-selected;
	}
	
	.tab-name {
		line-height: 30px;
		overflow-x: hidden;
		text-overflow: ellipsis;
		display: -moz-box;
		position: relative;
		top: -2px;
	}
	
	.tab-close {
		position: absolute;
		left: 6px;
		top: 7px;
		width: 16px;
		height: 16px;
		text-align: center;
		line-height: 16px;
		font-size: 14px;
		margin-top: -2px;
		display: none;
	}
	
	&:hover:not(:first-child) .tab-close {
		display: block;
	}
}