.tree {
  overflow: hidden;
  white-space: nowrap;
  outline: none;
  user-select: none;
}

/* Fixes draggable item position not being centered to mouse in XUL */
.tree > div > div {
  position: relative;
}

.spacer-arrow {
  min-width: 8px;
}

.arrow {
  margin-right: 0 !important;
}

.arrow svg {
  fill: #444;
  transition: transform 0.125s ease;
  transform: rotate(-90deg);
  margin-top: -3px;
}

html[dir="rtl"] .arrow svg,
.arrow svg:dir(rtl),
.arrow svg:-moz-locale-dir(rtl) {
  transform: rotate(90deg);
}

.arrow.open svg {
  transform: rotate(0deg);
}
