@mixin zotero-window {
	background: var(--material-sidepane);
	--color-form-element-base-background: var(--material-sidepane);
}

@mixin zotero-dialog {
	background: var(--material-background);
	--color-form-element-base-background: var(--material-background);
}

window:root,
window:root > wizard,
body {
	@include zotero-window();
}

window:root > dialog {
	@include zotero-dialog();
}

// Can overwrite default style
window:root .zotero-window {
	@include zotero-window();
}

window:root .zotero-dialog {
	@include zotero-dialog();
}

// Dialogs (e.g. the integration doc prefs window) has 20px padding on MacOS
window:root dialog.zotero-dialog-window {
	@media (-moz-platform: macos) {
		padding: 20px;
	}
}
