.wizard {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
	padding: 32px;
	width: 100%;

	button {
		padding: 2px 8px;
	}
}

.wizard-body {
	flex: 1 1 auto;
}

.wizard-controls {
	flex: 0 0 24px;
	display: flex;

	.left, .right {
		flex: 1 1 50%;
	}

	.right {
		text-align: right;
	}
}

.wizard-header-label {
	font-size: 16px;
	font-weight: bold;
}