:root {
    color-scheme: light dark;
}

:root {
    font-family: system-ui, -apple-system, sans-serif;
    font-size: 13px;
    font-style: normal;
    @media (-moz-platform: windows) {
        --color-accent: var(--accent-blue);
    }
    @media not (-moz-platform: windows) {
        --color-accent: SelectedItem;
    }
    --color-focus-search-color: color-mix(in srgb, var(--color-accent) 70%, transparent);
    @media (-moz-platform: windows) {
        @include light-dark(--color-focus-border, #000, #fff);
        --width-focus-border: 2px;
    }
    @media (-moz-platform: macos) {
        --color-focus-border: color-mix(in srgb, var(--color-accent) 70%, transparent);
        --width-focus-border: 3px;
    }
    @media (-moz-platform: linux) {
        --color-focus-border: var(--color-accent);
        --width-focus-border: 2px;
    }
}

#zotero-collections-pane, #zotero-item-pane {
    background: var(--material-sidepane);
}

#zotero-items-pane {
    min-width: 370px;
    min-height: 150px;
    height: 150px;
    width: 290px;
    background: var(--material-background);
}

#zotero-title-bar {
    border-bottom: var(--material-panedivider);
}