:root {
	font-family: system-ui, -apple-system, sans-serif;
	font-size: 13px;
	font-style: normal;
	line-height: 1.3333333333;
	@media (-moz-platform: windows) {
		--color-accent: var(--accent-blue);
		--color-accent-text: #fff;
		@include light-dark(--color-focus-outer-border, var(--fill-primary), var(--accent-white));
		@include light-dark(--color-focus-border, var(--accent-white), #00000080);
		--width-focus-outer-border: 2px;
		--width-focus-border: 1px;
	}
	@media (-moz-platform: macos) {
		--color-accent: SelectedItem;
		--color-accent-text: SelectedItemText;
		--color-focus-border: -moz-mac-focusring;
		--width-focus-border: 3px;
	}
	@media (-moz-platform: linux) {
		--color-accent: SelectedItem;
		--color-accent-text: SelectedItemText;
		--color-focus-border: var(--color-accent);
		--width-focus-border: 2px;
	}
	// Only used on Windows
	--color-form-element-base-background: var(--color-background);
}
