#item-box
{
	overflow: auto;
	margin-top: 8px;
}

row, tagsbox row
{
	min-height: 1em;
}


/* DEBUG: this doesn't seem to work, unfortunately
label[singleField=false]:after
{
	content:",";
}
*/

textbox .textbox-input-box
{
	margin: 0;
}

/* metadata field names */
row > label:first-child, .creator-type-label
{
	text-align: right;
	margin-left: 5px !important;
	margin-right: 2px !important;
}

#more-creators-label
{
	font-weight: bold;
}

row > label
{
	border: 1px solid transparent;
}

row label
{
	-moz-user-focus: ignore;
}

row .pointer:hover {
	cursor: pointer !important;
}

/* creator type menu */

.creator-type-label, .creator-type-value {
	-moz-box-align: center;
	-moz-box-pack: end;
}

.creator-type-label > label
{
	margin: 1px 0 1px 0 !important;
	padding-right: 2px !important;
}
 
.creator-type-label > image {
	margin: 0 1em 1px;
	list-style-image: url('chrome://zotero/skin/arrow-down.gif');
}

.comma
{
	margin: 1px 0 1px -3px !important;
	padding: 0 !important;
}

.creator-name-box > label:not(.comma), .date-box > label
{
	margin: 1px 0 1px 1px !important;
	padding-left: 2px !important;
	padding-right: 2px !important;
}

row > label, row > vbox[fieldname]
{
	margin-top: 1px !important;
	margin-bottom: 1px !important;
	-moz-box-pack: start;
	-moz-margin-start: 1px !important;
	-moz-margin-end: 5px !important;
	padding: 0 2px 0 2px;
}

row > vbox > description
{
	margin: 0 !important;
}

#zotero-date-field-status
{
	color: #666;
	padding: 0 10px 0 1px !important;
}

#item-type-menu
{
	-moz-appearance: none;
	color: black;
	height: 1.5em !important;
	min-height: 1.5em !important;
	padding: 0 0 0 2px !important;
	margin: 1px 5px 0 1px !important;
	max-height: 1.5em !important;
	border: 1px solid transparent;	
	background-color: transparent;
}

#item-type-menu > .menulist-label-box
{
	-moz-box-flex: 0 !important;
}

#item-type-menu > .menulist-label-box, #item-type-menu > .menulist-label-box > .menulist-label
{
	margin: 0 !important;
	padding: 0 !important;
}

#item-type-menu > .menulist-dropmarker
{
	display: none;
}

.zotero-field-toggle
{
	width: 27px !important;
	max-width: 27px !important;
	min-width: 27px !important;
	height: 14px;
	margin: 0 5px 0 0 !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
	border-width: 0 !important;
	border-radius: 4px !important;
}

/* Merge pane in duplicates view */
.zotero-field-version-button {
	margin: 0;
	padding: 0;
}