/* Don't collapse blank note parent labels, since it prevents access to parent */
#citeLabel
{
	min-height: 1.25em;
}

#citeLabel:hover
{
	cursor: pointer !important;
}

#tagsPopup {
	min-width: 300px;
}
