/* Don't focus filter textbox if pane isn't open */
zoterotagselector[collapsed=true] tags-search
{
	-moz-user-focus: ignore;
}

groupbox
{
	overflow: auto;
	min-height: 130px;
}

#tags-toggle
{
	overflow: auto;
	display: block; /* allow labels to wrap instead of all being in one line */
}

checkbox
{
	margin: .75em 0 .4em;
}

label
{
	margin-right: .2em;
	padding: .15em .25em;
	-moz-user-focus: ignore;
}

label[selected="true"]
{
	background: #a9c6f0 !important;
}

/* Visible out-of-scope tags should be grey */
label[inScope="false"]
{
	color: #666 !important;
}

/* Don't display clicky effect to out-of-scope icons */
label.zotero-clicky[inScope="false"]:hover,
label.zotero-clicky[inScope="false"]:active
{
	background: inherit !important;
}

label[draggedOver="true"]
{
	color: white !important;
	background: #666;
}

hbox
{
	-moz-box-align: baseline;
	-moz-box-pack: center;
}

#search-cancel
{
	margin: 0px;
	padding: 0px;
	cursor: default;
	list-style-image: url('chrome://zotero/skin/search-cancel.png');
}

/* Bottom buttons */
toolbarbutton.zotero-clicky
{
	margin:3px 5px;
	padding:1px;
	height:1em;
}
