@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");


/* Tag selector */

/* Don't focus filter textbox if pane isn't open */
zoterotagselector[collapsed=true] tags-search
{
	-moz-user-focus: ignore;
}

groupbox
{
	overflow: auto;
	min-height: 130px;
}

#tags-toggle
{
	overflow: auto;
	margin-bottom: 10px;
	display: block; /* allow labels to wrap instead of all being in one line */
}

label
{
	margin-right: 5px;
	padding: 2px 4px;
	-moz-user-focus: ignore;
}

label[selected=true]
{
	background: #a9c6f0 !important;
}

hbox
{
	-moz-box-align: baseline;
	-moz-box-pack: center;
}

#search-cancel
{
	margin: 0px;
	padding: 0px;
	cursor: default;
	list-style-image: url('chrome://zotero/skin/search-cancel.png');
}

toolbarbutton.zotero-clicky
{
	margin:3px 5px;
	padding:1px;
	height:1em;
}
