body {
	padding: 0;
}

ul.report li.item {
	border-top: 4px solid #555;
	padding-top: 1em;
	padding-left: 1em;
	padding-right: 1em;
	margin-bottom: 2em;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

h2 {
	margin: 0 0 .75em;
	padding: 0 0 0.25em;
	border-bottom: 1px solid #ccc;
}

h3 {
	margin-bottom: .5em;
	font-weight: bold !important;
	font-size: 1em;
	display: block;
}

/* Metadata table */
th {
	vertical-align: top;
	text-align: right;
	width: 15%;
	white-space: nowrap;
}

td {
	padding-left: .5em;
}


ul {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

/* Display tags as comma-separated lists */
ul.tags {
	line-height: 1.75em;
	list-style: none;
}

ul.tags li {
	display: inline;
}

ul.tags li:not(:last-child):after {
	content: ', ';
}


/* Child notes */
ul.notes {
	margin-bottom: 1.2em;
}
ul.notes li {
	border-bottom: 1px #ccc solid;
}
ul.notes li:last-child {
	border-bottom: none;
}


/* Preserve whitespace on notes */
ul.notes li p, li.note p {
	white-space: pre-wrap;  /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;  /* Opera 4-6 */
	white-space: -o-pre-wrap;  /* Opera 7 */
	word-wrap: break-word;  /* Internet Explorer 5.5+ */
}
