abstract-box {
	display: flex;
	flex-direction: column;

	&[hidden] {
		display: none;
	}
}

abstract-box .body {
	display: flex;
	
	editable-text {
		line-height: 1.5;
	}
	
	editable-text, browser {
		flex: 1;
	}
}
