abstract-box {
	display: flex;
	flex-direction: column;

	&[hidden] {
		display: none;
	}
}

abstract-box .body {
	display: flex;
	align-items: flex-start;
	
	editable-text {
		line-height: 1.5;
	}
	
	editable-text, browser {
		flex: 1;
	}

	.zotero-field-version-button {
		padding: 3px;
		flex-shrink: 0;
	}
}
