attachment-row {
	display: flex;
	flex-direction: column;
	gap: 2px;
	
	&[hidden] {
		display: none;
	}

	& > .head {
		display: flex;
		gap: 4px;
		align-items: flex-start;
		
		.clicky-item {
			@include clicky-item;
			flex: 1;
			gap: 4px;
			padding-inline: 4px;
		}

		.annotation-btn {
			flex-grow: 0;
			flex-basis: content;

			&[hidden] {
				display: none;
			}

			.icon {
				width: 12px;
				height: 12px;
				@include svgicon("annotation-12", "universal", "16");
				color: var(--fill-secondary);
				padding-block: 4px;
			}
	
			.label {
				padding-block: 2px;
				line-height: 16px;
				width: 100%;
				color: var(--fill-secondary);
			}
		}
	}
	
	@include contains-toolbarbutton-aligned-to-row;
	@include contains-toolbarbutton-show-on-hover;
}
