item-message-pane {
	display: flex;
	flex-direction: column;

	.custom-head {
		display: flex;
		flex-direction: row;
		align-self: stretch;
		gap: 8px;
		padding: 6px 8px;
		background: var(--material-toolbar);
		border-bottom: var(--material-panedivider);
		height: 28px;

		&:empty {
			display: none;
		}

		button {
			height: 26px;
			margin: 0;
			flex-grow: 1;
		}
	}

	#zotero-item-pane-groupbox {
		flex: 1;
		border-width: 0;
	}
}
