item-pane-header {
	&:not([hidden]) {
		display: flex;
	}
	flex-direction: column;
	align-items: stretch;
	padding: 8px;
	border-bottom: 1px solid var(--fill-quinary);
	
	max-height: 25%;
	overflow-y: auto;
	scrollbar-color: var(--color-scrollbar) var(--color-scrollbar-background);

	.title {
		margin-top: calc(0px - var(--editable-text-padding-block));
		flex: 1 1 0;
		font-weight: 600;
		line-height: 1.333;
		
		editable-text {
			flex: 1;
		}
	}
	
	.creator-year {
		color: var(--fill-secondary);
	}
	
	.bib-entry {
		line-height: 1.5;
		
		&.loading {
			color: var(--fill-secondary);
		}
	}
	
	.creator-year, .bib-entry {
		// Set padding to match editable-text in tight mode, plus 1px for border
		padding-inline: calc(var(--editable-text-tight-padding-inline) + 1px);
		overflow-wrap: anywhere;
	}

	.custom-head {
		display: flex;
		flex-direction: row;
		align-self: stretch;
		gap: 6px;

		&:empty {
			display: none;
		}

		button {
			height: 26px;
			margin: 0;
			flex-grow: 1;
		}
	}
}
