item-box {
	--row-height: 14px;
	
	display: flex;
	min-width: 0;
	width: 100%;

	#item-box {
		display: flex;
		flex-direction: column;
		margin-top: 8px;
		align-items: start;
		width: 100%;
	}

	#info-table {
		width: 100%;
		table-layout: fixed;
	}

	td {
		min-width: 0;
		padding-inline-end: 5px;
		display: flex;
		padding-top: 0;
		padding-bottom: 0;
	}

	td > input, .creator-name-box > input {
		align-self: center;
		// Fields have 3px borders; cancel them out
		margin-top: -3px;
		margin-bottom: -3px;
		margin-inline-start: 0;
		padding: 0;
	}
	
	td > input {
		margin-inline-end: 5px;
	}

	th > label {
		margin-top: 1px !important;
		margin-bottom: 1px !important;
		-moz-box-pack: start;
		margin-inline-start: 1px !important;
		margin-inline-end: 5px !important;
		padding: 0 2px;
		white-space: nowrap;
	}

	td > [fieldname] {
		width: 100%;
		line-height: var(--row-height);
	}

	.value {
		min-height: 14px;
		align-self: center;
		line-height: var(--row-height);
	}

	.value:not(.multiline) {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.value.multiline {
		white-space: pre-line;
	}

	/*td > vbox > description
	{
		margin: 0 !important;
	}*/

	#item-type-menu {
		padding: 0;
		margin: 0 !important;
		margin-inline-end: 5px !important;
		flex: 1;

		&::part(dropmarker) {
			display: none;
		}

		&::part(label) {
			margin-inline-start: 0;
		}
	}

	#item-type-menu:not(:hover):not(:active) {
		border: 1px solid transparent;
		background-color: transparent;
	}

	#item-type-menu > .menulist-label-box {
		-moz-box-flex: 0 !important;
	}

	#item-type-menu > .menulist-label-box, #item-type-menu > .menulist-label-box > .menulist-label {
		margin: 0 !important;
		padding: 0 !important;
	}

	/* DEBUG: this doesn't seem to work, unfortunately
	label[singleField=false]:after
	{
		content:",";
	}
	*/

	/*textbox .textbox-input-box
	{
		margin: 0;
	}*/

	textarea {
		font: inherit;
		resize: none;
	}

	/* metadata field names */
	th {
		width: 110px;
		text-align: end;
		vertical-align: top;
		height: var(--row-height);
		font-weight: normal;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	#more-creators-label
	{
		font-weight: bold;
	}

	/*row > label
	{
		border: 1px solid transparent;
	}
	
	row label
	{
		-moz-user-focus: ignore;
	}*/

	.pointer:hover, .pointer:hover > label {
		cursor: pointer !important;
	}

	/* creator type menu */

	.creator-type-label, .creator-type-value {
		-moz-box-align: center;
		align-items: center;
	}

	.creator-name-box {
		flex: 1;
		min-width: 0;
		display: flex;
		align-items: baseline;

		& > input {
			flex: 1;
			min-width: 60%;
		}

		& > div {
			flex-shrink: 1;
			min-width: 10px;
		}

		& > div:first-child[fieldMode="0"] {
			// Cancel out padding before comma
			margin-inline-end: -1px;
		}
	}

	.creator-type-label > label
	{
		margin: 1px 0 !important;
		margin-inline-end: 4px !important;
		padding-inline-end: 2px !important;
	}

	.creator-type-dropmarker {
		display: inline-block;
		margin: 0 1em 1px;
		background-image: url('chrome://zotero/skin/arrow-down.gif');
		background-size: cover;
		width: 11px;
		height: 6px;
	}

	.creator-name-box, .date-box > span {
		margin: 1px 0 !important;
		margin-inline-start: 1px !important;
	}

	.comma {
		margin: 1px 0 !important;
	}

	#zotero-date-field-status
	{
		color: #666;
		padding: 0 !important;
		padding-inline-start: 1px !important;
		padding-inline-end: 10px !important;
		white-space: nowrap;
	}

	.zotero-field-toggle
	{
		width: 27px !important;
		max-width: 27px !important;
		min-width: 27px !important;
		height: 14px;
		margin: 0 !important;
		margin-inline-end: 5px !important;
		background-repeat: no-repeat !important;
		background-position: center !important;
		border-width: 0 !important;
		border-radius: 4px !important;
	}

	/* Merge pane in duplicates view */
	.zotero-field-version-button {
		margin: 0;
		padding: 0;
	}

	/*
	 * Retraction box
	 */
	#retraction-box {
		cursor: default;
	}

	#retraction-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1.5em 1em;
		background: #d93425;
		color: white;
		font-weight: bold;
	}

	#retraction-details {
		background: #fbf0f0;
		padding: .5em 1.5em;
		margin-top: 0;
		margin-bottom: 1em;
		cursor: text;
		-moz-user-select: text;
	}

	#retraction-details dt {
		font-weight: bold;
	}

	#retraction-details dt:not(:first-child) {
		margin-top: .5em;
	}

	#retraction-details dd {
		margin-left: 2em;
	}

	#retraction-details a {
		text-decoration: underline;
	}

	#retraction-links ul {
		padding-left: 0;
	}

	#retraction-links li {
		list-style: none;
	}

	#retraction-links li:not(:first-child) {
		margin-top: .75em;
	}

	#retraction-credit {
		text-align: right;
		margin-top: 1.5em;
		margin-right: -.9em;
		margin-bottom: .2em;
	}

	#retraction-hide {
		text-align: right;
		margin-top: .3em;
		margin-right: -1.2em;
		margin-bottom: .3em;
	}

	#retraction-hide button {
		background: none;
		margin: 0;
		padding: 0;
		cursor: pointer;
		display: inline;
		text-decoration: underline;
		border-style: none;
	}
}
