note-box {
	display: flex;
	flex-direction: column;

	&[hidden] {
		display: none;
	}

	.body {
		display: flex;
		flex-direction: column;
		gap: 2px;
	}

	.metadata-table {
		@include meta-table;

		.clicky-item {
			@include clicky-item;

			align-items: center;
			height: 20px;
			@include comfortable {
				height: 22px;
			}

			.clicky-text {
				width: 100%;
				display: inline-block;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow-wrap: anywhere;
			}
		}
	}
}
