note-editor {
	flex-direction: column;

	.custom-head {
		display: flex;
		flex-direction: row;
		align-self: stretch;
		gap: 8px;
		padding: 6px 8px;
		background: var(--material-toolbar);
		border-bottom: var(--material-panedivider);
		height: 28px;

		&:empty {
			display: none;
		}

		button {
			height: 26px;
			margin: 0;
			flex-grow: 1;
		}
	}
}

links-box {
	display: flex;
	flex-direction: column;
	padding-inline: 8px;

	border-top: 1px solid var(--fill-quinary);
	
	tags-box, related-box {
		> collapsible-section > .body {
			max-height: 25vh;
			overflow-y: auto;
			scrollbar-width: thin;
			scrollbar-color: var(--color-scrollbar) var(--color-scrollbar-background);
			padding-bottom: 1px; // Leave room for the editable-text focus ring
		}
	}
}
