pane-header {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 6px 8px;
	gap: 6px;
	border-bottom: 1px solid var(--fill-quinary);
	
	.head {
		display: flex;
		align-self: stretch;
		gap: 4px;
		
		.title {
			align-self: center;
			margin-top: calc(0px - var(--editable-text-padding-block));
			padding: 2px 0px 1px 0px;
			flex: 1 1 0;
			font-weight: 600;
			line-height: 1.333;
			
			editable-text {
				flex: 1;
			}
		}
		
		.menu-button {
			align-self: start;
		}
		
		.menu-button toolbarbutton {
			@include svgicon-menu("go-to", "universal", "20");
		}
	}
	
	.menu-button {
		align-self: start;
	}
	
	.menu-button toolbarbutton {
		@include svgicon-menu("go-to", "universal", "20");
		--width-focus-border: 2px;
		@include focus-ring;
	}

	.custom-head {
		display: flex;
		flex-direction: row;
		align-self: stretch;
		gap: 6px;

		&:empty {
			display: none;
		}

		button {
			height: 26px;
			margin: 0;
			flex-grow: 1;
		}
	}
}
