.split-menu-button {
	display: flex;
	align-items: center;
	padding-right: 0;

	& [anonid="button-image-and-text-box"] {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		// Allow the button to grow/shrink to fit the container
		width: 0;
	}

	& [anonid="button-image"] {
		width: 16px;
		height: 16px;
		flex-shrink: 0;
		margin-inline-end: 8px;
	}

	& [anonid="button-text"] {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	& [anonid="dropmarker-box"] {
		display: flex;
		align-items: center;
		overflow: hidden;
	}

	& [anonid="dropmarker-separator"] {
		height: calc(100% - 5px);
		border-inline-start: 1px solid #aaa;
		margin: 0 2px 0 4px;
	}

	& .split-menu-button-dropmarker {
		margin-inline: 5px;
	}
}
