sticky {
	display: inline;
	
	& > :not(.replacement) {
		z-index: 1;
		box-sizing: border-box;
		position: sticky;
		top: -1px;
		inset-inline-start: 0;

		background: var(--material-sidepane);

		padding-top: 1px + 2px; // 1px to offset top, 2px as actual padding
		padding-bottom: 2px;

		@include comfortable {
			padding-top: 1px + 3px;
			padding-bottom: 3px;
		}
	}
	
	&.stuck > :not(.replacement) {
		position: fixed;
		// Replicate the inline padding on the item pane, which won't apply once we're fixed
		// We need box-sizing: border-box for this
		width: 100%;
		padding-inline: 8px;
		border-bottom: var(--material-border-quinary);
	}
	
	& > .replacement {
		
	}
}
