sticky {
	display: inline;
	
	& > :not(.replacement) {
		z-index: 1;
		position: relative;
		top: -1px;
		// Prevent top: -1px from cutting into elements above, like banners, by clipping the top pixel
		// -100% on the horizontal dimensions so we don't clip the sides
		clip-path: inset(1px -100% 0 -100%);

		padding-top: 1px + 2px; // 1px to offset top, 2px as actual padding
		padding-bottom: 2px;

		@include comfortable {
			padding-top: 1px + 3px;
			padding-bottom: 3px;
		}
		
		border-bottom: var(--material-border-transparent);
	}
	
	&.stuck > :not(.replacement) {
		position: fixed;
		inset-inline-start: 0;
		inset-inline-end: var(--scrollbar-width);
		padding-inline: 8px;
		background: var(--material-sidepane);
		border-bottom: var(--material-border-quarternary);
	}
}
