zoterosearch {
	#search-box > hbox, #search-box > groupbox {
		margin-left: 6px;
	}

	groupbox {
		margin-top: 0;
		padding-top: 0;

		& > #conditions {
			-moz-appearance: groupbox;
			padding: 6px;
		}
	}

	caption {
		font: inherit;
		padding-left: 0 !important;
	}

	label:first-child:not(tooltip label), checkbox:first-child {
		margin-left: 0 !important;
		padding-left: 0 !important;
	}

	checkbox {
		margin-right: .5em;
	}

	input {
		margin-block: 0;
	}

	.search-condition {
		-moz-box-flex: 1;
		display: flex;
		align-items: center;

		.valuefield, .valuemenu, .value-date-age {
			flex: 1;
		}
	}
	
	#operatorsmenu {
		width: 15em;
	}

	#condition-tooltips tooltip
	{
		background: red !important;
	}

	#condition-tooltips hbox > label
	{
		font-weight: bold;
	}

	.toolbarbutton-text
	{
		margin: 0;
		padding: 0;
	}

	#textbox-button {
		cursor: default;
		appearance: none;
		justify-self: end;
		margin-inline-end: 8px;
		align-self: center;
	}

	.search-in-the-last {
		-moz-box-flex: 1;
		display: flex;
		align-items: center;
		
		.input {
			min-width: 3em;
			flex: 1;
		}
	}
}
