//
// Variables
// --------------------------------------------------


// Dimensions
// --------------------------------------------------

$space-min:    4px;
$space-xs:     8px;
$space-sm:    12px;
$space-md:    16px;
$space-lg:    24px;
$space-xl:    32px;
$space-xxl:   48px;
$space-max:   64px;

$space-thumb: 42px;


// Typography
// --------------------------------------------------

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-base:       $font-family-sans-serif;

$font-size-base:   13px;

$font-size-h1: 20px;
$font-size-h2: 16px;

$line-height-base:           1.539;
$line-height-computed:       ceil($font-size-base * $line-height-base);

// todo: line-height-small
$line-height-large: 26px;
$line-height-large-touch: $space-thumb;

$link-hover-decoration: underline;

$headings-font-family:    inherit;
$headings-font-weight:    400;
$headings-line-height:    1.2;


// Components
// --------------------------------------------------

$padding-base-vertical: 2px;

$padding-base-horizontal: $space-xs;
$padding-large-horizontal: $space-sm;

$border-radius-small: 3px;
$border-radius-base:  4px;
$border-radius-large: 6px;

$border-width: 1px;

$separator-width: 1px;

// Buttons
// --------------------------------------------------

$btn-disabled-opacity: 0.5;

// Z-index master list
// --------------------------------------------------

$z-index-mobile-nav:     0;
$z-index-navbar-bg:     10;
$z-index-main:          10;
$z-index-level:         10;
$z-index-level-active:  20;
$z-index-navbar:        20;
$z-index-menu:          30;
$z-index-modal:			    40;
$z-index-drag-layer:    50;
$z-index-loading-cover: 60;

