// Override/enhance mozilla <wizard> styles. See customElements.js
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

:host(:not(.specificity)) {
    padding: 20px;
}

:not(.specificity) {
    .wizard-header-box-1 {
        background: var(--material-sidepane);
    }

    .wizard-header-box-text {
        padding: 0;
    }

    .wizard-header-label {
        margin-inline-start: 0;
    }

    // on macos, align buttons with content
    // https: //github.com/zotero/zotero/issues/4322#issuecomment-2207032862
    @media (-moz-platform: macos) {
        .wizard-buttons-btm {
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 0;

            button {
                margin-bottom: 0;
            }

            button:nth-child(1 of :not([hidden=true])) {
                margin-left: 0;
            }

            button:nth-last-child(1 of :not([hidden=true])) {
                margin-right: 0;
            }
        }
    }
}

html|*.wizard-page-box:not(.specificity) {
    padding: 16px 0;
}