#zotero-feed-item-toggleRead-button {
	margin: 5px 0 3px 6px;
}

#zotero-feed-item-addTo-button {
	margin: 5px 6px 3px;
	padding-left: 8px;
}

/* Show duplicates date list item as selected even when not focused
   (default behavior on other platforms) */
#zotero-duplicates-merge-original-date:not(:focus) > richlistitem[selected="true"] {
	background-color: -moz-cellhighlight;
	color: -moz-cellhighlighttext;
}
