#zotero-pane toolbarseparator {
	margin-inline-start: 7px;
}

#zotero-tb-sync > .toolbarbutton-icon {
	-moz-binding: none !important;
}

/* How to get active twisty?
treechildren::-moz-tree-twisty(active) {
	-moz-appearance: none;
	list-style-image: url("chrome://zotero/skin/mac/twisty-active.svg") !important;
}

treechilren::-moz-tree-twisty(active) {
	-moz-appearance: none;
	list-style-image: url("chrome://zotero/skin/mac/twisty-active-open.svg");
}
*/

tree:focus treechildren::-moz-tree-twisty(selected) {
	-moz-appearance: none;
	list-style-image: url("chrome://zotero/skin/mac/twisty-selected.svg");
}

tree:focus treechildren::-moz-tree-twisty(selected, open) {
	-moz-appearance: none;
	list-style-image: url("chrome://zotero/skin/mac/twisty-selected-open.svg");
}

treechildren::-moz-tree-image {
	height: 16px;
	padding-bottom: 1px;
}
