#zotero-pane
{
	padding: 0 !important;
}

#zotero-splitter
{
	border-top: none;
	border-bottom: 1px solid #A3A3A3;
	min-height: 1px !important;
	max-height: 1px !important;
	background-image: none;
}

#zotero-items-toolbar[state=collapsed]
{
	margin-left: -8px !important;
}

#zotero-pane toolbarseparator {
	margin-left: 7px;
}

.zotero-tb-button {
  -moz-margin-start: 5px;
  -moz-padding-end: 10px;
  background: url("chrome://zotero/skin/mac/menubutton-end.png") right center no-repeat;
}

.zotero-tb-button[open="true"],
.zotero-tb-button:hover:active {
  background: url("chrome://zotero/skin/mac/menubutton-end-pressed.png") right center no-repeat;
}

.zotero-tb-button > menupopup {
  -moz-margin-start: 2px;
  margin-top: -4px;
}

.zotero-tb-button > .toolbarbutton-icon {
  -moz-binding: url('chrome://zotero-platform/content/zoterotbbutton.xml#zotero-tb-button');
  background: url("chrome://zotero/skin/mac/menubutton-start.png") left center no-repeat;
  -moz-padding-start: 10px;
  padding-bottom: 2px;
}

#zotero-tb-sync > .toolbarbutton-icon {
  -moz-padding-start: 8px;
}

#zotero-tb-sync-warning[error=true]
{
	margin-bottom: 2px;
}

.zotero-tb-button[open="true"] > .toolbarbutton-icon,
.zotero-tb-button:hover:active > .toolbarbutton-icon {
  background: url("chrome://zotero/skin/mac/menubutton-start-pressed.png") left center no-repeat;
}

.zotero-tb-button > .toolbarbutton-text {
  display:  none;
}

.zotero-tb-button[type="menu"] > .toolbarbutton-icon {
  -moz-padding-end: 4px;
}

.zotero-tb-button[type="menu"] > .toolbarbutton-menu-dropmarker {
  list-style-image: url("chrome://zotero/skin/mac/folderDropArrow.png");
  padding: 0;
}

/* This property controls the strength of the SVG outer glow mask on the toolbar buttons */
.zotero-tb-button > .toolbarbutton-icon > stack > .zotero-tb-glow {
	opacity: .7;
}

#zotero-tb-attachment-add > .toolbarbutton-icon > stack > .zotero-tb-glow {
	display: none;
}

#zotero-tb-sync > .toolbarbutton-icon {
	-moz-binding: none !important;
}

#zotero-close-button {
	margin: 0px !important;
	padding: 0px 0px 0px 10px !important;
}

#zotero-tb-sync {
	margin: 0;
}

#zotero-view-tabbox {
	background-color: #fff;
	padding: 0;
}

#zotero-item-pane-content .groupbox-body {
	-moz-appearance: none;
	background-color: #ffffff;
}

#zotero-view-selected-label {
	color: #7f7f7f;
}

#zotero-view-tabbox > tabpanels {
	margin: 12px 0 0 0;
	padding: 0;
	-moz-appearance: none;
}

#zotero-view-tabbox > tabs {
  -moz-appearance: -moz-mac-unified-toolbar; 
  padding: 2px;
}

#zotero-view-tabbox > tabs > tab > hbox > .tab-icon {
	display: none;
}

#zotero-view-tabbox > tabs > tab > hbox .tab-text {
  text-shadow: rgba(255, 255, 255, 0.4) 0 1px !important;
  font-size: 11px;
  font-weight: bold;
}
#zotero-view-tabbox > tabs > tab:active:hover > hbox > .tab-text,
#zotero-view-tabbox > tabs > tab[selected=true] > hbox > .tab-text {
  text-shadow: none !important;
}

#zotero-view-tabbox > tabs > tab {
  -moz-box-orient: vertical;
  -moz-box-align: center;
  -moz-appearance: none;
  margin: 0;
  padding: 3px 0 0;
  background-color: transparent;
  border: solid transparent;
  border-width: 0 4px 0 5px;
  -moz-border-image: url("chrome://zotero/skin/mac/viewbutton-middle.png") 0 4 0 5 repeat stretch;
}

#zotero-view-tabbox > tabs > tab:active:hover {
  -moz-border-image: url("chrome://zotero/skin/mac/viewbutton-middle-down.png") 0 4 0 5 repeat stretch;
  text-shadow: none !important;
}

#zotero-view-tabbox > tabs > tab[selected=true] {
  color: #FFF !important;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px;
  -moz-border-image: url("chrome://zotero/skin/mac/viewbutton-middle-selected.png") 0 4 0 5 repeat stretch;
}

#zotero-view-tabbox > tabs > tab[selected=true]:active:hover {
  -moz-border-image: url("chrome://zotero/skin/mac/viewbutton-middle-selected-down.png") 0 4 0 5 repeat stretch;
}

#zotero-view-tabbox:-moz-window-inactive > tabs > * {
  color: #7C7C7C !important;
  -moz-border-image: url("chrome://zotero/skin/mac/viewbutton-middle-inactive.png") 0 4 0 5 repeat stretch;
}

#zotero-view-tabbox:-moz-window-inactive > tabs > tab[selected=true] {
  color: #C5C5C5 !important;
  -moz-border-image: url("chrome://zotero/skin/mac/viewbutton-middle-selected-inactive.png") 0 4 0 5 repeat stretch;
}

/* Since Fx < 4 doesn't recognize the -moz-window-inactive pseudoclass as valid, these have to be separate (duplicate) rules to be parsed */
:root:not([active]) #zotero-pane:not([ignoreActiveAttribute]) > #zotero-item-pane > #zotero-item-pane-content > #zotero-view-tabbox > tabs > * {
  color: #7C7C7C !important;
  -moz-border-image: url("chrome://zotero/skin/mac/viewbutton-middle-inactive.png") 0 4 0 5 repeat stretch;
}

:root:not([active]) #zotero-pane:not([ignoreActiveAttribute]) > #zotero-item-pane > #zotero-item-pane-content > #zotero-view-tabbox > tabs > tab[selected=true] {
  color: #C5C5C5 !important;
  -moz-border-image: url("chrome://zotero/skin/mac/viewbutton-middle-selected-inactive.png") 0 4 0 5 repeat stretch;
}

#zotero-view-tabbox > tabs > :first-child,
#zotero-view-tabbox > tabs > [first-visible],
#zotero-view-tabbox > tabs[chromedir=rtl] > :last-child,
#zotero-view-tabbox > tabs[chromedir=rtl] > [last-visible] {
  border-width: 0 4px 0 6px;
  -moz-border-image: url("chrome://zotero/skin/mac/viewbutton-left.png") 0 4 0 6 repeat stretch;
}

#zotero-view-tabbox > tabs > :first-child:active:hover,
#zotero-view-tabbox > tabs > [first-visible]:active:hover,
#zotero-view-tabbox > tabs[chromedir=rtl] > :last-child:active:hover,
#zotero-view-tabbox > tabs[chromedir=rtl] > [last-visible]:active:hover {
  -moz-border-image: url("chrome://zotero/skin/mac/viewbutton-left-down.png") 0 4 0 6 repeat stretch;
}

#zotero-view-tabbox > tabs > tab:first-child[selected=true],
#zotero-view-tabbox > tabs > tab[first-visible][selected=true],
#zotero-view-tabbox > tabs[chromedir=rtl] > tab:last-child[selected=true],
#zotero-view-tabbox > tabs[chromedir=rtl] > tab[last-visible][selected=true] {
  -moz-border-image: url("chrome://zotero/skin/mac/viewbutton-left-selected.png") 0 4 0 6 repeat stretch;
}

#zotero-view-tabbox > tabs > tab:first-child[selected=true]:active:hover,
#zotero-view-tabbox > tabs > tab[first-visible][selected=true]:active:hover,
#zotero-view-tabbox > tabs[chromedir=rtl] > tab:last-child[selected=true]:active:hover,
#zotero-view-tabbox > tabs[chromedir=rtl] > tab[last-visible][selected=true]:active:hover {
  -moz-border-image: url("chrome://zotero/skin/mac/viewbutton-left-selected-down.png") 0 4 0 6 repeat stretch;
}

#zotero-view-tabbox:-moz-window-inactive > tabs > :first-child,
#zotero-view-tabbox:-moz-window-inactive > tabs > [first-visible],
#zotero-view-tabbox:-moz-window-inactive > tabs[chromedir=rtl] > :last-child,
#zotero-view-tabbox:-moz-window-inactive > tabs[chromedir=rtl] > [last-visible] {
  -moz-border-image: url("chrome://zotero/skin/mac/viewbutton-left-inactive.png") 0 4 0 6 repeat stretch;
}

/* Since Fx4 doesn't recognize the -moz-window-inactive pseudoclass as valid, these have to be separate (duplicate) rules to be parsed */

:root:not([active]) #zotero-pane:not([ignoreActiveAttribute]) #zotero-view-tabbox > tabs > :first-child,
:root:not([active]) #zotero-pane:not([ignoreActiveAttribute]) #zotero-view-tabbox > tabs > [first-visible],
:root:not([active]) #zotero-pane:not([ignoreActiveAttribute]) #zotero-view-tabbox > tabs[chromedir=rtl] > :last-child,
:root:not([active]) #zotero-pane:not([ignoreActiveAttribute]) #zotero-view-tabbox > tabs[chromedir=rtl] > [last-visible] {
  -moz-border-image: url("chrome://zotero/skin/mac/viewbutton-left-inactive.png") 0 4 0 6 repeat stretch;
}  

#zotero-view-tabbox:-moz-window-inactive > tabs > tab:first-child[selected=true],
#zotero-view-tabbox:-moz-window-inactive > tabs > tab[first-visible][selected=true],
#zotero-view-tabbox:-moz-window-inactive > tabs[chromedir=rtl] > tab:last-child[selected=true],
#zotero-view-tabbox:-moz-window-inactive > tabs[chromedir=rtl] > tab[last-visible][selected=true] {
  -moz-border-image: url("chrome://zotero/skin/mac/viewbutton-left-selected-inactive.png") 0 4 0 6 repeat stretch;
}

:root:not([active]) #zotero-pane:not([ignoreActiveAttribute]) #zotero-view-tabbox > tabs > tab:first-child[selected=true],
:root:not([active]) #zotero-pane:not([ignoreActiveAttribute]) #zotero-view-tabbox > tabs > tab[first-visible][selected=true],
:root:not([active]) #zotero-pane:not([ignoreActiveAttribute]) #zotero-view-tabbox > tabs[chromedir=rtl] > tab:last-child[selected=true],
:root:not([active]) #zotero-pane:not([ignoreActiveAttribute]) #zotero-view-tabbox > tabs[chromedir=rtl] > tab[last-visible][selected=true] {
  -moz-border-image: url("chrome://zotero/skin/mac/viewbutton-left-selected-inactive.png") 0 4 0 6 repeat stretch;
}

#zotero-view-tabbox > tabs > :last-child,
#zotero-view-tabbox > tabs > [last-visible],
#zotero-view-tabbox > tabs[chromedir=rtl] > :first-child,
#zotero-view-tabbox > tabs[chromedir=rtl] > [first-visible] {
  border-width: 0 6px 0 5px;
  -moz-border-image: url("chrome://zotero/skin/mac/viewbutton-right.png") 0 6 0 5 repeat stretch;
}

#zotero-view-tabbox > tabs > :last-child:active:hover,
#zotero-view-tabbox > tabs > [last-visible]:active:hover,
#zotero-view-tabbox > tabs[chromedir=rtl] > :first-child:active:hover,
#zotero-view-tabbox > tabs[chromedir=rtl] > [first-visible]:active:hover {
  -moz-border-image: url("chrome://zotero/skin/mac/viewbutton-right-down.png") 0 6 0 5 repeat stretch;
}

#zotero-view-tabbox > tabs > tab:last-child[selected=true],
#zotero-view-tabbox > tabs > tab[last-visible][selected=true],
#zotero-view-tabbox > tabs[chromedir=rtl] > tab:first-child[selected=true],
#zotero-view-tabbox > tabs[chromedir=rtl] > tab[first-visible][selected=true] {
  -moz-border-image: url("chrome://zotero/skin/mac/viewbutton-right-selected.png") 0 6 0 5 repeat stretch;
}

#zotero-view-tabbox > tabs > tab:last-child[selected=true]:active:hover,
#zotero-view-tabbox > tabs > tab[last-visible][selected=true]:active:hover,
#zotero-view-tabbox > tabs[chromedir=rtl] > tab:first-child[selected=true]:active:hover,
#zotero-view-tabbox > tabs[chromedir=rtl] > tab[first-visible][selected=true]:active:hover {
  -moz-border-image: url("chrome://zotero/skin/mac/viewbutton-right-selected-down.png") 0 6 0 5 repeat stretch;
}

#zotero-view-tabbox:-moz-window-inactive > tabs > :last-child,
#zotero-view-tabbox:-moz-window-inactive > tabs > [last-visible],
#zotero-view-tabbox:-moz-window-inactive > tabs[chromedir=rtl] > :first-child,
#zotero-view-tabbox:-moz-window-inactive > tabs[chromedir=rtl] > [first-visible] {
  -moz-border-image: url("chrome://zotero/skin/mac/viewbutton-right-inactive.png") 0 6 0 5 repeat stretch;
}

:root:not([active]) #zotero-pane:not([ignoreActiveAttribute]) #zotero-view-tabbox > tabs > :last-child,
:root:not([active]) #zotero-pane:not([ignoreActiveAttribute]) #zotero-view-tabbox > tabs > [last-visible],
:root:not([active]) #zotero-pane:not([ignoreActiveAttribute]) #zotero-view-tabbox > tabs[chromedir=rtl] > :first-child,
:root:not([active]) #zotero-pane:not([ignoreActiveAttribute]) #zotero-view-tabbox > tabs[chromedir=rtl] > [first-visible] {
  -moz-border-image: url("chrome://zotero/skin/mac/viewbutton-right-inactive.png") 0 6 0 5 repeat stretch;
}

#zotero-view-tabbox:-moz-window-inactive > tabs > tab:last-child[selected=true],
#zotero-view-tabbox:-moz-window-inactive > tabs > tab[last-visible][selected=true],
#zotero-view-tabbox:-moz-window-inactive > tabs[chromedir=rtl] > tab:first-child[selected=true],
#zotero-view-tabbox:-moz-window-inactive > tabs[chromedir=rtl] > tab[first-visible][selected=true] {
  -moz-border-image: url("chrome://zotero/skin/mac/viewbutton-right-selected-inactive.png") 0 6 0 5 repeat stretch;
}
:root:not([active]) #zotero-pane:not([ignoreActiveAttribute]) #zotero-view-tabbox > tabs > tab:last-child[selected=true],
:root:not([active]) #zotero-pane:not([ignoreActiveAttribute]) #zotero-view-tabbox > tabs > tab[last-visible][selected=true],
:root:not([active]) #zotero-pane:not([ignoreActiveAttribute]) #zotero-view-tabbox > tabs[chromedir=rtl] > tab:first-child[selected=true],
:root:not([active]) #zotero-pane:not([ignoreActiveAttribute]) #zotero-view-tabbox > tabs[chromedir=rtl] > tab[first-visible][selected=true] {
  -moz-border-image: url("chrome://zotero/skin/mac/viewbutton-right-selected-inactive.png") 0 6 0 5 repeat stretch;
}

#zotero-collections-tree {
	-moz-appearance: none;
	border: none;
	margin: 0;
	padding: 0;
	min-height: 5.2em;
	background-color: #d2d8e2;
}

#zotero-collections-tree:-moz-window-inactive {
	background-color: rgb(232, 232, 232);
}

:root:not([active]) #zotero-pane:not([ignoreActiveAttribute]) #zotero-collections-tree {
	background-color: rgb(232, 232, 232);
}

#zotero-collections-tree treechildren::-moz-tree-row {
  background-color: transparent;
  border-color: transparent;
}

#zotero-collections-tree treechildren::-moz-tree-cell(selected) {  
  background-color: #6f81a9;
  background-image: url("chrome://zotero/skin/mac/selected-gradient.png");
  background-repeat: repeat-x;
  background-position: bottom left;
  border-top: 1px solid #979797;
}

#zotero-collections-tree treechildren::-moz-tree-cell(selected,focus) {  
  background-image: url("chrome://zotero/skin/mac/selected-focused-gradient.png");
  background-color: #8a8a8a !important;
  border-top: 1px solid #91a0c0;
}

#zotero-collections-tree treechildren::-moz-tree-cell-text(selected) {  
  font-weight: bold !important;
  color: #ffffff !important;
}

#zotero-tree-splitter, #zotero-view-splitter
{
	-moz-appearance: none;
	-moz-border-start: none !important;
	-moz-border-end: none !important;
	max-width: 1px !important;
	min-width: 1px !important;
	width: 1px !important;
	background-color: #8b8b8b !important;
}

#zotero-tree-splitter[state=collapsed]
{
	border-right: 1px;
	border-color: #A5A5A5;
	max-width: 8px !important;
	min-width: 8px !important;
	width: 8px !important;
	background-image: url("chrome://zotero/skin/mac/vsplitter.png");
	background-repeat: repeat-y;
	padding: 0;
}

#zotero-tree-splitter[state=collapsed] > grippy
{
	-moz-appearance: none;
	background-image: url("chrome://zotero/skin/mac/vgrippy.png");
	background-position: center;
	background-repeat: no-repeat;
	width: 8px;
}

#zotero-tags-splitter
{
	-moz-appearance: none;
	border-top: 1px;
	border-bottom: 1px;
	border-color: #A5A5A5;
	height: 8px;
	background-image: url("chrome://zotero/skin/mac/hsplitter.png") !important;
	background-repeat: repeat-x;
	padding: 0;
}

#zotero-tags-splitter > grippy
{
	-moz-appearance: none;
	background-image: url("chrome://zotero/skin/mac/hgrippy.png");
	background-position: center;
	background-repeat: no-repeat;
	height: 8px;
}

#zotero-tags-splitter > grippy:hover, #zotero-tree-splitter > grippy:hover
{
	background-color:transparent;
}

#zotero-items-tree
{
	-moz-appearance: none;
	border: none;
	margin: 0;
	padding: 0;
}

#zotero-items-tree treechildren::-moz-tree-cell,
#zotero-items-tree treechildren::-moz-tree-column {
  border-right: 1px solid #d7dad7;
}

treechildren::-moz-tree-twisty {
	-moz-appearance: none;
	width: 11px;
	height: 11px;
	list-style-image: url("chrome://zotero/skin/mac/twisty.png");
	-moz-padding-start: 5px;
	-moz-padding-end: 6px;
}

treechildren::-moz-tree-twisty(open) {
	-moz-appearance: none;
	width: 11px;
	height: 11px;
	list-style-image: url("chrome://zotero/skin/mac/twisty-open.png");
	-moz-padding-start: 4px;
	-moz-padding-end: 7px;
}

/* How to get active twisty?
treechildren::-moz-tree-twisty(active) {
	-moz-appearance: none;
	list-style-image: url("chrome://zotero/skin/mac/twisty-active.png") !important;
}

treechilren::-moz-tree-twisty(active) {
	-moz-appearance: none;
	list-style-image: url("chrome://zotero/skin/mac/twisty-active-open.png");
}
*/

tree:focus treechildren::-moz-tree-twisty(selected) {
	-moz-appearance: none;
	list-style-image: url("chrome://zotero/skin/mac/twisty-selected.png");
}

tree:focus treechildren::-moz-tree-twisty(selected, open) {
	-moz-appearance: none;
	list-style-image: url("chrome://zotero/skin/mac/twisty-selected-open.png");
}

treechildren::-moz-tree-image {
	height: 16px;
	padding-bottom: 1px;
}