/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

window[windowtype="zotero:pref"] {
	padding: 0;
	font: -moz-dialog !important;
	
	-moz-appearance: dialog;
	color: -moz-DialogText;
}

groupbox > label > h2, groupbox > * > label > h2 {
	border-bottom: #b5b5b5 1px solid;
}

groupbox > label > h2, groupbox > * > label > h2, caption {
	padding-bottom: 0.2em;
	font: caption;
}

.help-button {
	appearance: auto;
	-moz-default-appearance: -moz-mac-help-button;
	min-width: 0;
}
