/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

prefwindow,
prefwindow:root /* override :root from above */ {
	-moz-binding: url("chrome://zotero/content/bindings/preferences-mac.xml#prefwindow");
	-moz-box-orient: vertical;
}

prefpane {
	-moz-binding: url("chrome://zotero/content/bindings/preferences-mac.xml#prefpane");
	-moz-box-orient: vertical;
}

prefwindow > .paneDeckContainer {
	overflow: hidden;
}

prefpane > .content-box {
	overflow: hidden;
}

prefwindow[type="child"] > .paneDeckContainer {
	overflow: -moz-hidden-unscrollable;
}

prefwindow[type="child"] > prefpane > .content-box {
	-moz-box-flex: 1;
	overflow: -moz-hidden-unscrollable;
}

preferences {
	-moz-binding: url("chrome://zotero/content/bindings/preferences-mac.xml#preferences");
	visibility: collapse;
}

preference {
	-moz-binding: url("chrome://zotero/content/bindings/preferences-mac.xml#preference");
	visibility: collapse;
}

radio[pane] {
	-moz-binding: url("chrome://zotero/content/bindings/preferences-mac.xml#panebutton") !important;
	-moz-box-orient: vertical;
	-moz-box-align: center;
}

prefwindow[chromehidden~="toolbar"] .chromeclass-toolbar {
	display: none;
}


prefwindow {
	padding: 0;
	font: -moz-dialog !important;
	
	-moz-appearance: dialog;
	color: -moz-DialogText;
}

prefpane {
	padding: 12px 12px 0 12px;
}

prefwindow[type="child"] > prefpane {
	padding: 0;
}

.prefWindow-dlgbuttons {
	margin: 0 12px 12px;
	padding-top: 0 !important;
}

.paneSelector {
	font: message-box;
	padding: 1px 4px;
	-moz-appearance: toolbar;
	margin: 0;
}

radio[pane] {
	border: solid transparent;
	border-width: 0 2px;
	padding: 5px 4px 3px;
	margin: 0;
	-moz-appearance: none;
	text-shadow: rgba(255, 255, 255, 0.4) 0 1px;
}

radio[pane]:active:hover {
	text-shadow: none;
}

radio[pane]:active:hover > .paneButtonIcon {
	filter: brightness(0.55);
}

radio[pane][selected="true"] {
	-moz-border-image: url("chrome://zotero-platform/content/panebutton-active.png") 0 2 fill repeat stretch;
}

radio[pane][selected="true"]:-moz-window-inactive {
	-moz-border-image: url("chrome://zotero-platform/content/panebutton-inactive.png") 0 2 fill repeat stretch;
}

.paneButtonLabel {
	margin: 0 !important;
}

groupbox {
	padding: 5px 1px 1px;
	padding-inline-start: 0;
	margin: 6px;
}

.groupbox-title {
	border-bottom: #b5b5b5 1px solid;
}

.groupbox-body {
	-moz-appearance: groupbox;
	padding: 8px 8px 3px;
	margin: 0;
}

caption {
	padding-inline-start: 4px;
	padding-bottom: 1px;
	font: caption;
}

/* !important is needed to override label in global.css */
.caption-text {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	margin-inline-start: 1px !important;
}